#register {
    #citiesDropdown {
        display: none;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 5px;
        max-height: 180px;
        overflow: auto;
        position: absolute;
        padding: 5px;
        width: 91%;
        background: #fff;

        &::-webkit-scrollbar {
        width: 1.1rem;
        }
        
        &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
        }
        
        &::-webkit-scrollbar-thumb {
        background-color: #237aa0;
        border-radius: 10px;
        }
        option {
            cursor: pointer;
        }
    }
}

#login-form {
    button {
        background: none;
        border: none;
    }
}

