<template>
<div>
    <div v-show="currentStep == 1">
        <div class="row">
            <div class="col-md-12">
                <div class="p-4">
                    <span>
                        <i class="fas fa-location-arrow"></i>
                        Name
                        <i class="fas fa-asterisk text-danger"></i>
                    </span>
                </div>
                <div class="form-group">
                    <input v-model="location.name" class="form-control" type="text">
                </div>
            </div>
            <div class="col-md-12 mb-4">
                <div class="p-4">
                    <span>
                        <i class="fas fa-map-marker-alt"></i>
                        Location 
                        <i class="fas fa-asterisk text-danger"></i>
                    </span>
                </div>
                <div @click="enableMap" class="locationMapIdContainer">
                    <div id="locationMapId"></div>
                    <div class="locationMapOverflow" v-if="!mapEnabled">
                        Click to drag map
                    </div>
                </div>
                <input v-model="location.coordinates" class="d-none form-control" type="text">
            </div>
        </div>
    </div>
    <div v-show="currentStep == 2">
        <div class="row">
            <div class="col-md-12">
                <div class="p-4">
                    <span>
                        <i class="fas fa-pen"></i>
                        Description
                    </span>
                </div>
                <div class="form-group">
                    <input v-model="location.description" class="form-control" type="text">
                </div>
            </div>
            <div class="col-md-12">
                <div class="p-4">
                    <span>
                        <i class="fas fa-globe"></i>
                        Website
                    </span>
                </div>
                <div class="form-group">
                    <input v-model="location.website" class="form-control" type="text">
                </div>
            </div>
            <div class="col-md-12">
                <div class="p-4">
                    <span>
                        <i class="fas fa-phone"></i>
                        Phone
                    </span>
                </div>
                <div class="form-group">
                    <input v-model="location.phone" class="form-control" type="text">
                </div>
            </div>
            <div class="col-md-12">
                <div class="p-4">
                    <span>
                        <i class="fas fa-filter"></i>
                        Category 
                        <i class="fas fa-asterisk text-danger"></i>
                    </span>
                </div>
                <div class="form-group">
                    <input 
                        v-model="keyword" 
                        type="text" 
                        @keyup="searchCategories" 
                        class="form-control" 
                        placeholder="Start typing..."
                    >
                    <input v-model="location.category.id" class="form-control d-none" type="text">
                </div>
                <div v-show="categories.length" class="categoriesContainer d-flex flex-column">
                    <span 
                        v-for="category in categories" 
                        :key="category.id"
                        @click="chooseCategory(category)"
                        class="text-light"
                    >
                        <vue-fontawesome 
                            class="fontAwesome" 
                            :icon="category.icon_class" 
                            size="1" 
                            color="lightgray"
                            style="width: 20px"
                        />
                        {{category.name}}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <button v-if="currentStep > 1" @click="prevStep" type="button" class="btn mr-2">Back</button>
        <button v-if="currentStep == 1" @click="nextStep" type="button" class="btn btn-primary ml-2">Next</button>
        <button v-if="currentStep > 1" @click="addLocation" type="button" class="btn btn-primary ml-2">Add</button>
    </div>
</div>
</template>

<script>
import {eventBus} from '../app'

export default {
    components: {
        
    },

    data() {
        return {
            steps: 2,
            currentStep: 1,
            mapEnabled: false,
            location: {
                name: null,
                coordinates: null,
                description: null,
                website: null,
                phone: null,
                category: {
                    id: null
                }
            },
            keyword: null,
            categories: []
        }
    },

    methods: {
        chooseCategory(category) {
            this.location.category = category.id;
            this.keyword = category.name;
            this.categories = [];
        },

        searchCategories() {
            axios.get(`/api/map/get-categories/`, {
                params: {
                    'keyword' : this.keyword
                }
            }).then(res => {
                this.categories = res.data;
                this.$nextTick(() => {
                    let icons = $('.fontAwesome');
                    icons.removeClass("fa");
                    icons.addClass("fas");
                })
            })
        },

        addLocation() {
            this.location.coordinates = locationAddMap.getCenter();

            if(!this.location.name || !this.location.coordinates || !this.location.category) {
                return this.$swal(
                    "Error", 
                    "Please fill in all the required input fields!", 
                    "error"
                );
            }

            axios.post('/api/map/add-location', this.location).then(res => {
                if(res.status == 200) {
                    this.$swal(
                        "Success", 
                        "Location " + res.data.location.name + " added!", 
                        "success"
                    );
                    this.currentStep = 1;
                    this.mapEnabled = false;
                    this.keyword = null;
                    this.location = {
                        name: null,
                        coordinates: null,
                        description: null,
                        website: null,
                        phone: null,
                        category: {
                            id: null
                        }
                    }
                    eventBus.$emit('close');
                }
            })
        },

        enableMap() {
            this.mapEnabled = true;
            $('.locationMapIdContainer').removeClass('disabledMap');
        },

        prevStep() {
            this.currentStep -= 1;
        },

        nextStep() {
            if (this.currentStep >= this.steps) return;
            this.currentStep += 1;
        },
    }
}
</script>

<style lang="scss" scoped>
    .disabledMap {
        filter: brightness(0.5);
        height: 200px !important;
        cursor: pointer;

        * {
            pointer-events: none !important;
        }
    }

    .locationMapIdContainer {
        height: 400px;
        width: 100%;
        overflow: hidden;
        position: relative;

    #locationMapId {
        height: 100%;
        width: 100%;
    }

    .locationMapOverflow {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        z-index: 999;
        font-size: 2rem;
        background: rgba(0, 0, 0, 0.6);
    }
}

    .categoriesContainer {
        max-height: 200px;
        overflow-y: auto;
        span {
            cursor: pointer;
        }
    }

    .fa-asterisk {
        font-size: 9px;
        position: relative;
        bottom: 7px;
        right: 2px;
    }

    .row {
        color: #fff;
    }

    .btn-primary {
        background-color: #338f88;
        border-color: transparent;
    }

    .form-group input {
        background-color: #606066;
        border-color: #606066;
        color: #fff;
    }

    .mr-2 {
        background-color: #338f88;
        border-color: transparent;
        color: #fff;
    }
    .categoriesContainer span.text-light:hover {
        font-weight: bold;
    }
</style>
