<template>
  <div v-if="open" id="main-section" class="position-absolute">
    <div class="position-relative row h-100">
      <span @click="open = false" class="position-absolute closeMainSection">X</span>
          <!-- Modal -->
  <div class="modal" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable overflow-hidden modal-lg" role="document">


<!--Left--> 

        
      <div class="modal-content d-flex p-5 bg-dark col- modal-lg pl-5">
        <svg class="header-logo bi bi-caret-right-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
        </svg>
        <div class="modal-body text-light">
        <div class="flex-container">
          
        <div class="row justify-content-center">
          <svg class="logo bi bi-basket3-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172z"/>
            <path d="M2.468 15.426L.943 9h14.114l-1.525 6.426a.75.75 0 0 1-.729.574H3.197a.75.75 0 0 1-.73-.574z"/>
          </svg>
        </div>
        <div class="row justify-content-center">
          <div class="d-flex flex-row bd-highlight justify-contente-center mb-3">
            <div class="p-2 bd-highlight"><i class="fa fa-facebook-official"></i></div>
            <div class="p-2 bd-highlight"><i class="fa fa-instagram"></i></div>
            <div class="p-2 bd-highlight"><i class="fa fa-twitter-square"></i></div>
          </div>  
        </div>    
        <div class="row justify-content-center">
        <div class="list">
          <div class="d-flex flex-column bd-highlight mb-3">
            <div class="p-2 bd-highlight">
              <svg class="float-left svg bi bi-tree-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 0a.5.5 0 0 1 .416.223l3 4.5A.5.5 0 0 1 11 5.5h-.098l2.022 3.235a.5.5 0 0 1-.424.765h-.191l1.638 3.276a.5.5 0 0 1-.447.724h-11a.5.5 0 0 1-.447-.724L3.69 9.5H3.5a.5.5 0 0 1-.424-.765L5.098 5.5H5a.5.5 0 0 1-.416-.777l3-4.5A.5.5 0 0 1 8 0z"/>
                <path d="M7 13.5h2V16H7v-2.5z"/>
              </svg> City / Country
            </div>
            <div class="p-2 bd-highlight">
              <svg class="float-left svg bi bi-tree-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 0a.5.5 0 0 1 .416.223l3 4.5A.5.5 0 0 1 11 5.5h-.098l2.022 3.235a.5.5 0 0 1-.424.765h-.191l1.638 3.276a.5.5 0 0 1-.447.724h-11a.5.5 0 0 1-.447-.724L3.69 9.5H3.5a.5.5 0 0 1-.424-.765L5.098 5.5H5a.5.5 0 0 1-.416-.777l3-4.5A.5.5 0 0 1 8 0z"/>
                <path d="M7 13.5h2V16H7v-2.5z"/>
              </svg> Open until ..
            </div>
            <div class="p-2 bd-highlight">
              <svg class="float-left svg bi bi-tree-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 0a.5.5 0 0 1 .416.223l3 4.5A.5.5 0 0 1 11 5.5h-.098l2.022 3.235a.5.5 0 0 1-.424.765h-.191l1.638 3.276a.5.5 0 0 1-.447.724h-11a.5.5 0 0 1-.447-.724L3.69 9.5H3.5a.5.5 0 0 1-.424-.765L5.098 5.5H5a.5.5 0 0 1-.416-.777l3-4.5A.5.5 0 0 1 8 0z"/>
                <path d="M7 13.5h2V16H7v-2.5z"/>
              </svg> +387603328332
            </div>
            <div class="p-2 bd-highlight">
              <svg class="float-left svg bi bi-tree-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 0a.5.5 0 0 1 .416.223l3 4.5A.5.5 0 0 1 11 5.5h-.098l2.022 3.235a.5.5 0 0 1-.424.765h-.191l1.638 3.276a.5.5 0 0 1-.447.724h-11a.5.5 0 0 1-.447-.724L3.69 9.5H3.5a.5.5 0 0 1-.424-.765L5.098 5.5H5a.5.5 0 0 1-.416-.777l3-4.5A.5.5 0 0 1 8 0z"/>
                <path d="M7 13.5h2V16H7v-2.5z"/>
              </svg> http://www.google.com
            </div>
            <div class="p-2 bd-highlight">
              <svg class="float-left svg bi bi-tree-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 0a.5.5 0 0 1 .416.223l3 4.5A.5.5 0 0 1 11 5.5h-.098l2.022 3.235a.5.5 0 0 1-.424.765h-.191l1.638 3.276a.5.5 0 0 1-.447.724h-11a.5.5 0 0 1-.447-.724L3.69 9.5H3.5a.5.5 0 0 1-.424-.765L5.098 5.5H5a.5.5 0 0 1-.416-.777l3-4.5A.5.5 0 0 1 8 0z"/>
                <path d="M7 13.5h2V16H7v-2.5z"/>
              </svg> Menu
            </div>
            <div class="p-2 bd-highlight">
              <svg class="float-left svg bi bi-tree-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 0a.5.5 0 0 1 .416.223l3 4.5A.5.5 0 0 1 11 5.5h-.098l2.022 3.235a.5.5 0 0 1-.424.765h-.191l1.638 3.276a.5.5 0 0 1-.447.724h-11a.5.5 0 0 1-.447-.724L3.69 9.5H3.5a.5.5 0 0 1-.424-.765L5.098 5.5H5a.5.5 0 0 1-.416-.777l3-4.5A.5.5 0 0 1 8 0z"/>
                <path d="M7 13.5h2V16H7v-2.5z"/>
              </svg> Free wifi
            </div>
            <div class="p-2 bd-highlight">
              <svg class="float-left svg bi bi-tree-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 0a.5.5 0 0 1 .416.223l3 4.5A.5.5 0 0 1 11 5.5h-.098l2.022 3.235a.5.5 0 0 1-.424.765h-.191l1.638 3.276a.5.5 0 0 1-.447.724h-11a.5.5 0 0 1-.447-.724L3.69 9.5H3.5a.5.5 0 0 1-.424-.765L5.098 5.5H5a.5.5 0 0 1-.416-.777l3-4.5A.5.5 0 0 1 8 0z"/>
                <path d="M7 13.5h2V16H7v-2.5z"/>
              </svg> Pet friendly
            </div>
            <div class="p-2 bd-highlight">
              <svg class="float-left svg bi bi-tree-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 0a.5.5 0 0 1 .416.223l3 4.5A.5.5 0 0 1 11 5.5h-.098l2.022 3.235a.5.5 0 0 1-.424.765h-.191l1.638 3.276a.5.5 0 0 1-.447.724h-11a.5.5 0 0 1-.447-.724L3.69 9.5H3.5a.5.5 0 0 1-.424-.765L5.098 5.5H5a.5.5 0 0 1-.416-.777l3-4.5A.5.5 0 0 1 8 0z"/>
                <path d="M7 13.5h2V16H7v-2.5z"/>
              </svg> Pet friendly
            </div>
            <div class="p-2 bd-highlight mt-4">
              <p class="font-weight-bold">Payment method</p>
              <!--V-FOR-->
              <div class="d-flex flex-row bd-highlight justify-contente-center">
                <svg class="float-left svg bi bi-tree-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 0a.5.5 0 0 1 .416.223l3 4.5A.5.5 0 0 1 11 5.5h-.098l2.022 3.235a.5.5 0 0 1-.424.765h-.191l1.638 3.276a.5.5 0 0 1-.447.724h-11a.5.5 0 0 1-.447-.724L3.69 9.5H3.5a.5.5 0 0 1-.424-.765L5.098 5.5H5a.5.5 0 0 1-.416-.777l3-4.5A.5.5 0 0 1 8 0z"/>
                  <path d="M7 13.5h2V16H7v-2.5z"/>
                </svg>
                <svg class="float-left svg bi bi-tree-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 0a.5.5 0 0 1 .416.223l3 4.5A.5.5 0 0 1 11 5.5h-.098l2.022 3.235a.5.5 0 0 1-.424.765h-.191l1.638 3.276a.5.5 0 0 1-.447.724h-11a.5.5 0 0 1-.447-.724L3.69 9.5H3.5a.5.5 0 0 1-.424-.765L5.098 5.5H5a.5.5 0 0 1-.416-.777l3-4.5A.5.5 0 0 1 8 0z"/>
                  <path d="M7 13.5h2V16H7v-2.5z"/>
                </svg>
                <svg class="float-left svg bi bi-tree-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 0a.5.5 0 0 1 .416.223l3 4.5A.5.5 0 0 1 11 5.5h-.098l2.022 3.235a.5.5 0 0 1-.424.765h-.191l1.638 3.276a.5.5 0 0 1-.447.724h-11a.5.5 0 0 1-.447-.724L3.69 9.5H3.5a.5.5 0 0 1-.424-.765L5.098 5.5H5a.5.5 0 0 1-.416-.777l3-4.5A.5.5 0 0 1 8 0z"/>
                  <path d="M7 13.5h2V16H7v-2.5z"/>
                </svg>
                <svg class="float-left svg bi bi-tree-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 0a.5.5 0 0 1 .416.223l3 4.5A.5.5 0 0 1 11 5.5h-.098l2.022 3.235a.5.5 0 0 1-.424.765h-.191l1.638 3.276a.5.5 0 0 1-.447.724h-11a.5.5 0 0 1-.447-.724L3.69 9.5H3.5a.5.5 0 0 1-.424-.765L5.098 5.5H5a.5.5 0 0 1-.416-.777l3-4.5A.5.5 0 0 1 8 0z"/>
                  <path d="M7 13.5h2V16H7v-2.5z"/>
                </svg>
              </div>               

            </div>
              
            </div>
          </div>
          
                
        </div>
        </div>          
      </div>
    </div>  -->

<!--Right-->

<div class="modal-content bg-dark col-8 modal-lg pl-5">
  <div class="modal-header pl-5 border-0">
        <h1 class="modal-title display-4 font-weight-bold mt-3" id="exampleModalScrollableTitle">Barter Books</h1>
        <a href="#" class="text-light font-weight-bold d-flex-reverse"><u>Go to location</u></a>
    </div>
    <div class="row claim-location-row pl-5">
    <a href="#" class="claim-location text-light ml-3 mb-5 mt font-weight-bold"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-right-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.879 10.828a.5.5 0 1 1-.707-.707l4.096-4.096H6.5a.5.5 0 0 1 0-1h3.975a.5.5 0 0 1 .5.5V9.5a.5.5 0 0 1-1 0V6.732l-4.096 4.096z"/>
    </svg>Claim location</a>
    </div>


  <div class="modal-body text-light mb-5 pl-5 pb-5">

    <!--V-FOR-->
    <div class="categories">
    <div class="row">
      <div class="col-sm">
       <svg class="float-left svg bi bi-tree-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 0a.5.5 0 0 1 .416.223l3 4.5A.5.5 0 0 1 11 5.5h-.098l2.022 3.235a.5.5 0 0 1-.424.765h-.191l1.638 3.276a.5.5 0 0 1-.447.724h-11a.5.5 0 0 1-.447-.724L3.69 9.5H3.5a.5.5 0 0 1-.424-.765L5.098 5.5H5a.5.5 0 0 1-.416-.777l3-4.5A.5.5 0 0 1 8 0z"/>
          <path d="M7 13.5h2V16H7v-2.5z"/>
        </svg><p class="text-light">Lorem ipsum</p>
      </div>
      <div class="col-sm">
        <svg class="float-left svg bi bi-tree-fill" width="1em" height="1em" viewBox="0 0 16 16"  fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 0a.5.5 0 0 1 .416.223l3 4.5A.5.5 0 0 1 11 5.5h-.098l2.022 3.235a.5.5 0 0 1-.424.765h-.191l1.638 3.276a.5.5 0 0 1-.447.724h-11a.5.5 0 0 1-.447-.724L3.69 9.5H3.5a.5.5 0 0 1-.424-.765L5.098 5.5H5a.5.5 0 0 1-.416-.777l3-4.5A.5.5 0 0 1 8 0z"/>
          <path d="M7 13.5h2V16H7v-2.5z"/>
        </svg><p class="text-light">Lorem ipsum</p>
      </div>
      <div class="col-sm">
        <svg class="float-left svg bi bi-tree-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 0a.5.5 0 0 1 .416.223l3 4.5A.5.5 0 0 1 11 5.5h-.098l2.022 3.235a.5.5 0 0 1-.424.765h-.191l1.638 3.276a.5.5 0 0 1-.447.724h-11a.5.5 0 0 1-.447-.724L3.69 9.5H3.5a.5.5 0 0 1-.424-.765L5.098 5.5H5a.5.5 0 0 1-.416-.777l3-4.5A.5.5 0 0 1 8 0z"/>
          <path d="M7 13.5h2V16H7v-2.5z"/>
        </svg><p class="text-light">Lorem</p>
      </div>
      <div class="col-sm">
      </div>
        <p class="pl-3 pt-5">
          Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, sunt? adipisicing elit. Provident, quis maiores. Est delectus, incidunt itaque voluptates eaque maxime doloribus molestiae esse cum libero quidem. Vitae perferendis voluptatibus voluptas itaque odio repellendus minima dicta consequuntur alias sapiente ut, animi expedita, officia eos, fugiat architecto fuga consectetur ad dolor beatae quia accusantium!
        </p>
      </div>
    </div>  

    <!--V-FOR-->
    <div class="hashtags">
      <div class="d-inline-flex flex-row ">
        <div class="col-sm">
           <a class="text-warning" href="#">#lorem</a>
        </div>
        <div class="col-sm">
          <a class="text-warning" href="#">#lorem</a>
        </div>
        <div class="col-sm">
          <a class="text-warning " href="#">#lorem</a>
        </div>
      <!--V-IF ==> 3-->
      <a href="#" class="text-secondary">(Show more)</a>  
      </div>
    </div>

      <!--V-FOR-->
      <div class="pynn-rating">
        <p class="mt-5 font-weight-bold">Last Pynns</p>
        <div class="row">
          <div class="col">
            <img src="cat.jpg" class="rounded-circle img-responsive">
            <img src="cat.jpg" class="rounded-circle img-responsive">
            <img src="cat.jpg" class="rounded-circle img-responsive">
            <img src="cat.jpg" class="rounded-circle img-responsive">
            <!--V-IF ==> 3-->
      <a href="#" class="text-secondary">(Show more)</a> 
          </div>
          
          <div class="rating col">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <p class="float-left mr-2">Rating</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
          </div>
        </div>
    </div>
            <!--V-FOR-->
  <div class="img-grid">
    <div class="row d-flex justify-content-center">
      <div class="col mt-5">
        <img src="cat.jpg" class="rounded img-responsive">
        <img src="cat.jpg" class="rounded img-responsive">
        <img src="cat.jpg" class="rounded img-responsive">
        <img src="cat.jpg" class="rounded img-responsive">
        <img src="cat.jpg" class="rounded img-responsive">
        <div class="row d-flex flex-row-reverse">
          <div class="col d-flex justify-content-end mr-5 mt-3">
            <a href="#" class="text-secondary  ">(Show more)</a> 
          </div>
      </div>
      </div>
    </div>
      
    <p class="font-weight-bolder mt-5">Detailed reviews</p>   

    <!--V-FOR-->
      <div class="rating detailed-reviews">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <p class="mt-1">Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta iste odio dicta reprehenderit incidunt blanditiis quo molestiae dignissimos tenetur deleniti, amet explicabo est quis dolorum! Est quos, dicta ea dolores debitis impedit nemo nulla excepturi odit ab, facere amet possimus. ipsum dolor sit amet, consectetur adipisicing elit. Molestias ut inventore reiciendis quibusdam voluptatem quidem culpa porro asperiores mollitia beatae?</p>
      </div>
      <div class="rating detailed-reviews">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <p class="mt-1">Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta iste odio dicta reprehenderit incidunt blanditiis quo molestiae dignissimos tenetur deleniti, amet explicabo est quis dolorum! Est quos, dicta ea dolores debitis impedit nemo nulla excepturi odit ab, facere amet possimus. ipsum dolor sit amet, consectetur adipisicing elit. Molestias ut inventore reiciendis quibusdam voluptatem quidem culpa porro asperiores mollitia beatae?</p>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>
  </div>
</div>
        
</template>

<script>
import {eventBus} from "../app"
export default {
    data() {
        return {
            open: false,
            data: {},
            svg: "",
            userStats: {
              openedUntil: 23 + ":" + 0o00 + "PM",
              phoneNum: "+" + 387603125689,
              email: "http://thisRestaurant.com",
              stats: {
                menu: true,
                freeWiFi: true,
                parking: true,
                petFriendly: true,
                outsideArea: true
              }
            },
            hashtags: [
              {
                name: "vegan",
              },
              {
                name: "freewifi",
              },
              {
                name: "goodvibes",
              }
            ],
          tags: [
            {
              name: "Bookstore",
            },
            {
              name: "Paper/Office Supply",
            },
            {
              name: "Coffee Shop",
            }
          ],
        }
    },
    mounted() {
        document.getElementById('markerActioninput').addEventListener('click', () => {
            this.open = true;
            
            this.$nextTick(() => {
                if(document.getElementById('markerActioninput').value == 'location') {
                    this.data = activeLocation;
                }
                if(document.getElementById('markerActioninput').value == 'avatar') {
                    this.data = activeUser;
                }
            })
        })
    },

}
3
</script>

<style lang='scss' scoped>

#main-section {
    width: calc(100% - 440px);
    height: calc(100% - 99px);
    z-index: 9999;
    right: 20px;
    bottom: 20px;
  position: absolute;
  float: left;
  margin-left: 30px;
    .sections {
        background: #403f49;
        border-radius: 10px;

    }

}
.main-section-title {
  float: left;
  width: 100%;
  color: aqua;
  font-weight: bold;
  font-size: 48px;
  margin-left: 30px;
}
.main-section-goToLocation-title {
  float: right;
  color: rgb(60, 18, 18);
  font-size: 15px;
  font-weight: bolder;
  margin: 10px;
}
.main-section-claimLocation {
  float: left;
  color: whitesmoke;
  font-size: 15px;
  font-weight: bolder;
  margin-left: 80px;
}
.main-section-icon {
  font-size: 40px;
}
.tags {
 
  color: aqua;
  float: left;
  font-size: 14px;
  margin-left: 25px;
  margin-top: 100px;
  margin-right: 15px;

}
.body-title {
  margin-top: 100px;
  float: left;
  color: whitesmoke;
}
.hashtags {
  color: yellow;
  float: left;
  margin-top: 20px;
  margin-right: 20px;
  font-weight: bold;
}
.text {
  float: left;
  color: whitesmoke;
  margin-top: 30px;
  margin-left: 50px;
}
.main-section-hashtags {
  float: left;
  margin-left: 50px;
  margin-top: 20px;
  color: yellow;
  font-weight: bold;
}
.main-section-photoGrid {
  float: left;
  margin-top: 50px;
  margin-left: 30px;
}
.main-section-photo {
  width: 150px;
  height: 150px;
  margin: 8px;
  border: 1px solid aqua;
  border-radius: 5px;
}
.main-section-rating {
  float: left;
  margin-top: 100px;
  margin-left: 180px;
  font-size: 25px;
}
.checked {
  color: aqua;
}
.main-section-detailedReviews {
  float: left;
  margin-top: 370px;
  margin-left: -820px;
  color: whitesmoke;
  font-size: 25px;

}
.main-section-detailedReviews-rating {
 float: left;
  margin-top: 300px;
  margin-left: -820px;
  color: whitesmoke;
  font-size: 25px;
}
.review-content {
  float: left;
  margin-top: 180px;
  margin-left: 50px;
  color: whitesmoke;
}
.main-section-mainLogo {
  margin-top: -41px;
  margin-left: 160px;
  font-size: 150px;
  color: aqua;
  width: 200px;
}
.social-media-icons {
  margin-left: 200px;
  color: whitesmoke;
}
.main-svg {
  color: whitesmoke;
  font-size: 60px;
}
.content {
  color: whitesmoke;
  margin-top: 50px;
  margin-left: 50px;
  font-weight: 200;
  font-size: 15px;
}

</style>>

