<template>
	<div>
		<div v-if="showSettings" id="settings-items-menu" class="custom-pin-list-section-settings">
			<div v-if="user.profile_img" class="custom-pin-li col-xs-12 no-padding">
				<div class="custom-pin-li-icon">
					<i class="fas fa-user-cog"></i>
				</div>
				<div
                    @click="showControl = 'settings'"
					id="toggleUserSettings"
					class="custom-pin-li-text"
					style="position: relative"
					>
					Settings
					<i class="dropRightChevron fas fa-chevron-right"></i>
					<ul
                        v-if="showControl == 'settings'"
						id="userSettingsDropdown"
						style="top: 0; left: 100%;"
                        class="position-absolute bg-white px-1 d-flex settings-dropdown"
					>
						<li class="position-relative w-100">
							<a href="#" class="d-flex justify-content-between custom-avatar-link">
                                <div class="custom-avatar">
                                    <i class="fas fa-portrait mr-1"></i>
                                    Custom Avatar
                                </div>
								<form
									id="toggleMapProfilePicture"
									method="post"
									action="/admin/map_settings/toggle_profile_picture'"
									onsubmit="return toggleMapProfilePicture();"
									>
									<div v-if="user.map_profile_display">
										<input
											id="mapProfileDisplayInput"
											type="hidden"
											name="map_profile_display"
											:value="user.map_profile_display"
										/>
										<button style="height: 1">
											<i class="far fa-check-square text-primary"></i>
										</button>
									</div>
									<div v-else>
										<input
											id="mapProfileDisplayInput"
											type="hidden"
											name="map_profile_display"
											:value="user.map_profile_display"
										/>
										<button style="height: 1">
											<i class="far fa-times-circle text-danger"></i>
										</button>
									</div>
								</form>
							</a>
						</li>
					</ul>
				</div>
			</div>	
			<div class="custom-pin-li col-xs-12 no-padding">
				<div class="custom-pin-li-icon">
					<i class="fas fa-sliders-h"></i>
				</div>
				<div
                    @click="showControl = 'radius'"
					id="toggleRadiusSettings"
					class="custom-pin-li-text"
					style="position: relative"
				>
					Radius
					<i class="dropRightChevron fas fa-chevron-right"></i>
					<div 
                        v-if="showControl == 'radius'"
                        class="map-control-radiuses position-absolute bg-white px-1"
					>
						<div>
							Reach radius
                            <vue-slider 
                                @dragging="reachSlide" 
                                :min="1000" 
                                :max="10000" 
                                v-model="reach_radius" />
						</div>
						<div>
							Privacy radius
                            <vue-slider 
                                @dragging="privacySlide" 
                                min="1000" 
                                :max="10000" 
                                v-model="privacy_radius" />
						</div>
						<div class="mt-4 text-center">
                            <button
                                @click='saveMapSettings'
                                type="submit"
                                value="Save"
                                class="btn btn-primary"
                                >
                                Save
                            </button>
						</div>
					</div>
				</div>
			</div>
			<div
				id="toggleLayersSettings"
				class="custom-pin-li col-xs-12 no-padding"
				style="border: 0"
			>
				<div class="custom-pin-li-icon" style="pointer-events: none">
					<i class="fas fa-layer-group"></i>
				</div>
				<div 
                    @click="showControl = 'layers'"
                    class="custom-pin-li-text" 
                >
					Layers
					<i class="dropRightChevronLayers fas fa-chevron-right"></i>
				</div>
				<!-- layers dropdown -->
				<ul v-if="showControl == 'layers'" 
                    id="layersSettingsDropdown" 
                    class="map-control-radiuses position-absolute bg-white px-1 d-flex justify-content-center flex-column"
                    style="top:0" 
                >
					<li v-for="layer in filtered_map_layers" :key="layer.id" class="position-relative h6 d-flex justify-content-between m-0 pl-2 align-items-center layers-menu">
						<span>{{layer.display_name}}</span>
                        <button v-if="layer.active" @click="toggleLayer(layer.id)" class="layersActiveIndicators mb-1">
                            <i class="far fa-check-square text-primary "></i>
                        </button>
                        <button v-else @click="toggleLayer(layer.id)" class="layersActiveIndicators mb-1">
                            <i class="far fa-window-close text-danger"></i>
                        </button> 
					</li>
				</ul>
			</div>
			<div class="custom-pin-li col-xs-12 no-padding">
				<div class="custom-pin-li-icon">
					<i class="fas fa-map-marker-alt"></i>
				</div>
				<div id="share-location" class="custom-pin-li-text truncate">
					Share Location
				</div>
			</div>
		</div>

        <div v-show="showSection" class="custom-pin-list-section">
            <div class="custom-pin-li col-xs-12 no-padding navigation-section-top-hover" onclick="openMapPostModal(true)">
                <div class="custom-pin-li-icon navigation-icons-b">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="custom-pin-li-text navigation-text-top">
                    Post
                </div>
            </div>
            <div class="custom-pin-li col-xs-12 no-padding navigation-section-top-hover" onclick="openLocationsModal(true)">
                <div class="custom-pin-li-icon navigation-icons-b">
                    <i class="fas fa-map-marked-alt"></i>
                </div>
                <div class="custom-pin-li-text navigation-text-top" style="white-space: nowrap">
                    Add Location
                </div>
                <span id='addLocationToggle' data-toggle='modal' data-target='#add-location-modal' class="d-none"></span> 
            </div>
        </div>

		<div class="d-flex justify-content-center align-items-center h-100">
			<i @click="toggleSection" class="fa fa-comment mx-2 my-0 text-navigation-primary"></i>
			<i @click="toggleMapSettings" id="map-settings" class="fa fa-cog mx-2 my-0 text-navigation-primary"></i>
			<i id="toggleMapLayers" style="display: none"></i> 
		</div>
  	</div>
</template>

<script>
import VueSlider from 'vue-slider-component'
import 'vue-slider-component/theme/antd.css'

export default {
    name: 'map_control',
    
    components: {
        VueSlider
    },

	props: {
		user: {
			type: [Array, Object],
			default: null
		},

		mapLayers : {
			type: [Array, Object],
			default: null
		}
	},

	data() {
		return {
			map_layers: null,
            filtered_map_layers: null,
            reach_radius: null,
            privacy_radius: null,
            showSettings: false,
            showControl: null,
            userReachRadius: null,
            userPrivacyRadius: null,
            showSection: false
		}
	},

	created() {
		this.map_layers = this.mapLayers;
        this.filterMapLayers();
        
        this.reach_radius = user.reach;
        this.privacy_radius = user.privacy;
    },
    
    mounted() {
        document.addEventListener('click', this.close)
    },

	methods: {
        close (e) {
            if (!this.$el.contains(e.target)) {
                this.showSection = false;

                if(this.showSettings) {
                    this.showSettings = false;
                    map.removeLayer(settingsMarkers);
                    settingsMarkers.clearLayers();
                    return;
                }
            }
        },

        saveMapSettings() {
            let data = {
                reach_radius: this.userReachRadius.getRadius(),
                privacy_radius: this.userPrivacyRadius.getRadius()
            }

            axios.post('/map/savesettings',data).then((res) => {
                this.$swal(
                    "Success", 
                    "Settings saved!", 
                    "success"
                );
            })
        },

        reachSlide(value) {
            this.userReachRadius.setRadius(value);
        },

        privacySlide(value) {
            this.userPrivacyRadius.setRadius(value);
        },

		filterMapLayers() {
			this.filtered_map_layers = this.map_layers.filter((layer) => {
				return  layer.short_name == 'other_avatars_layer' ||
					  	layer.short_name == 'locations_layer' ||
					   	layer.short_name == 'beacons_layer' 
			})
		},

		getLayers() {
			axios.get('/api/get-map-layers').then((res) => {
				this.map_layers = res.data.map_layers;
				this.filterMapLayers();
			})
        },
        
        toggleSection() {
            this.showSection = !this.showSection;
            this.showSettings = false;
        },

		toggleMapSettings() {
            if(this.showSettings) {
                this.showSettings = false;
                map.removeLayer(settingsMarkers);
                settingsMarkers.clearLayers();
                return;
            }

            this.showSettings = true;
            this.showSection = false;
            
            axios.get("/map/getsettings/").then((res) => {
                let data = res.data;

                map.setView([data.currentloc[0], data.currentloc[1]]);

                this.reach_radius = data.reachradius;
                this.privacy_radius = data.privacyradius;
              
                this.userReachRadius = L.circle([data.currentloc[0], data.currentloc[1]], {
                    color: "#247BA0",
                    fillOpacity: 0.1,
                    stroke: true,
                    radius: data.reachradius,
                });
                this.userPrivacyRadius = L.circle(
                    [data.currentloc[0], data.currentloc[1]],
                    {
                    color: "#F25F5C",
                    fillOpacity: 0.1,
                    stroke: true,
                    radius: data.privacyradius,
                    }
                );
                
                settingsMarkers.addLayer(this.userPrivacyRadius);
                settingsMarkers.addLayer(this.userReachRadius);

                settingsMarkers.addTo(map);
            });
		},

		toggleLayer(id) {
			axios.post(`api/map_settings/toggle_active/${id}`).then(res => {
				if (res.data.layer == 'Locations Layer') {
					toggleLocations(res.data.action);
				} 

				if (res.data.layer == 'Beacons Layer') {
					toggleBeacons(res.data.action);
				}

				if (res.data.layer == 'Other Avatars Layer') {
					toggleOtherAvatars(res.data.action);
				}

				this.getLayers();
			})
			return false;
		}
	},
};
</script>

<style lang='scss' scoped>

    .navigation-icons-b {
        margin-left: 0.5em;
        i {
        font-size:2em;
        }
    }
    .custom-pin-li {
        display: flex;
        align-items: center;
        border-color: transparent;
    }
    .custom-pin-li:hover {
        background-color: #606066;
    }
    #layersSettingsDropdown {
        width: 200px;
        left: 100%;
        top: -58px;
        li {
            text-align: left;
            align-items: center;
            width: 100%;
            padding: 5px 0;
            color: #868686;
            font-weight: 600;
            display: flex;
            white-space: nowrap;
        }
    }

    .map-control-radiuses {
        width: 200px;
        top: -55px;
        left: 100%;
        border-radius: 11px;
        height: 223px;
        background: #161621 !important;
        box-shadow: 0 0 2px 0 #E0E0E0, 0 0 4px 0#E0E0E0 !important;
    }

    .fa-comment, .fa-cog {
        cursor: pointer;
        font-size: 22px;
    }

    .custom-pin-list-section {
        position: absolute;
        margin-left: -70px;
        top: 55px;
        width: 175px;
        border-radius: 8px;
        box-shadow: 0 0 2px 0 #E0E0E0, 0 0 4px 0#E0E0E0;
        z-index: 99999;
        background: #161621;
        color: #fff;
    }

    .custom-pin-list-section-settings {
        position: absolute;
        top: 55px;
        width: 185px;
        border-radius: 8px;
        background: #161621;
        box-shadow: 0 0 2px 0 #E0E0E0, 0 0 4px 0#E0E0E0;
        z-index: 99999;
        .custom-pin-li-icon i {
            margin-top: 14px;
            margin-left: 10px;
            font-size: 24px;
            color: #fff;
        }

        .custom-pin-li-text {
            float: left;
            width: calc(100% - 50px);
            margin: 0;
            padding-left: 5px;
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            line-height: 56px;
            text-align: left;
            color: #fff;
        }

        .custom-pin-li-text span {
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            text-align: left;
            color: #fff;
        }
    }

    #toggleMapProfilePicture {
        button {
            border: none;
            background: none;
        }
    }
    .navigation-text-top {
        font-size: 18px;
    }
    .navigation-section-top-hover:hover, .settings-dropdown:hover, .layers-menu:hover {
        background-color: #606066 !important;
    }
    .settings-dropdown {
        background: #161621 !important;
        box-shadow: 0 0 2px 0 #E0E0E0, 0 0 4px 0#E0E0E0;
    }
    
    .custom-avatar {
        color: #fff;
    }
    .custom-avatar-link:hover {
        text-decoration: none !important;
    }
    .layers-menu {
        background: #161621 !important;
        color: #fff !important;
    }
</style>