<template>
<div>
    <div 
        class="notification-section-li col-xs-12 post-public"
    >
        <div class="notification-section-top-left col-xs-8 no-padding">
            <a 
            >
                <img class="notification-section-top-img" src="/img/no-image.png">
            </a>
            <div class="notification-section-top-left-text text-dark">
                <a 
                    class="text-dark font-weight-bold" 
                >
                    Jenny Doe
                </a>
            </div>
        </div>
        <div class="notification-section-top-right col-xs-4 no-padding">
            5 minutes ago
        </div>
        <div class="notification-section-bottom col-xs-12 no-padding">
            <p class="show-read-more" style="text-align: justify; word-break: break-all;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, minus!
            </p>
        </div>
    </div>
</div>
</template>

<script>
export default {

}
</script>

<style>

</style>