<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="p-4">
                    <span>
                        <i class="fas fa-comment"></i>
                        Post 
                    </span>
                </div>
                <div class="form-group">
                    <textarea 
                        v-model="post.text" 
                        class="form-control" 
                        placeholder="Type your post here..."
                        rows="5"
                    >
                    </textarea>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button @click="submitPost" type="button" class="btn btn-primary mr-2">Submit</button>
            
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            post: {}
        }
    },
    methods: {
        submitPost() {
            console.log('TODO: make a submit post functionality');
        }
    }
}
</script>

<style>
        .p-4 {
            color: #fff;
        }
        .form-group textarea {
            background-color:#606066;
            border-color: transparent;
            color: #fff;
        }

        .form-group textarea::placeholder {
            color: #fff;
        }

        .btn-primary {
            background-color: #338f88;
            border-color: #338f88;
        }

        .btn-primary:hover {
            border-color:#2a6e68;
            background-color: #2a6e68;
        }
</style>