<template>
<div class="ml-4 position-relative">
    <input 
        v-model="keyword" 
        @keyup="searchLocations" 
        type="text" 
        placeholder="Search Locations..." 
        class="form-control location-map-search pr-4"
    >
    <i class="fas fa-search text-light position-absolute p-2"></i>
</div>
</template>

<script>
export default {
    data() {
        return {
            keyword: ''
        }
    },
    methods: {
        searchLocations() {
            let bounds = map.getBounds();
            let zoom = map.getZoom();

            axios.get(`/api/search-locations-profile`, {
                params: {
                    keyword: this.keyword,
                    bounds: bounds
                }
            }).then(res => {
                locations = res.data;
                document.getElementById('locationsIndicator').innerText = locations.length;

                clearLocationLayers();

                locations.forEach(location => {
                    let locationMarker;
                    locationMarker = L.marker([location.lat, location.lng], {
                        locationId: location.id,
                        icon: L.AwesomeMarkers.icon({
                            icon: location.icon_class,
                            prefix: location.icon_prefix || 'fa',
                            markerColor: location.icon_color || 'blue',
                        })
                    }).on('click', function () {
                        showLocationInfo(location);
                    })

                    locationMarkers.addLayer(locationMarker);

                    locationMarkers.addTo(map).on('click')

                    // enable use of font awesome 5 **
                    let icons = $('.awesome-marker i');
                    icons.removeClass("fa");
                    icons.addClass("fas");
                });
            })
        }
    }

}
</script>

<style scoped>
    .location-map-search {
        width: calc(100% - 14px);
        height: 37px;
        background: #606066;
        border-color: #606066;
        border-radius: 10px;
        color: #fff;
    }
    .fa-search {
        right: 15px;
        top: 2px;
    }
    div.position-relative {
        margin-top: 2rem !important;
        margin-bottom: 2rem !important;
    }
</style>
