<template>
  <div class="online-users py-2 px-4 col-xs-12">
        <div class="col-xs-8">
            <div 
                v-for="(user,index) in users" 
                :key="index"
            >
            <carousel :items="7" :dots="false" :nav="false" :margin="10">
                <template slot="prev"><div class="prev slider-homepage-left"><i class="fas fa-caret-left"></i></div></template>
                <span 
                    class="mx-1"
                    :title="user.user_name"
                >
                    <img v-if="user.profile_img" class="rounded-circle" :src="'/img/' + user.profile_img">
                    <img v-else class="rounded-circle" src="/img/no-image.png">
                </span>
                <span 
                    class="mx-1"
                    :title="user.user_name"
                >
                    <img v-if="user.profile_img" class="rounded-circle" :src="'/img/' + user.profile_img">
                    <img v-else class="rounded-circle" src="/img/no-image.png">
                </span>
                <span 
                    class="mx-1"
                    :title="user.user_name"
                >
                    <img v-if="user.profile_img" class="rounded-circle" :src="'/img/' + user.profile_img">
                    <img v-else class="rounded-circle" src="/img/no-image.png">
                </span>
                <span 
                    class="mx-1"
                    :title="user.user_name"
                >
                    <img v-if="user.profile_img" class="rounded-circle" :src="'/img/' + user.profile_img">
                    <img v-else class="rounded-circle" src="/img/no-image.png">
                </span>
                <span 
                    class="mx-1"
                    :title="user.user_name"
                >
                    <img v-if="user.profile_img" class="rounded-circle" :src="'/img/' + user.profile_img">
                    <img v-else class="rounded-circle" src="/img/no-image.png">
                </span>
                <span 
                    class="mx-1"
                    :title="user.user_name"
                >
                    <img v-if="user.profile_img" class="rounded-circle" :src="'/img/' + user.profile_img">
                    <img v-else class="rounded-circle" src="/img/no-image.png">
                </span>
                <span 
                    class="mx-1"
                    :title="user.user_name"
                >
                    <img v-if="user.profile_img" class="rounded-circle" :src="'/img/' + user.profile_img">
                    <img v-else class="rounded-circle" src="/img/no-image.png">
                </span>
                <span 
                    class="mx-1"
                    :title="user.user_name"
                >
                    <img v-if="user.profile_img" class="rounded-circle" :src="'/img/' + user.profile_img">
                    <img v-else class="rounded-circle" src="/img/no-image.png">
                </span>
                <span 
                    class="mx-1"
                    :title="user.user_name"
                >
                    <img v-if="user.profile_img" class="rounded-circle" :src="'/img/' + user.profile_img">
                    <img v-else class="rounded-circle" src="/img/no-image.png">
                </span>
                <span 
                    class="mx-1"
                    :title="user.user_name"
                >
                    <img v-if="user.profile_img" class="rounded-circle" :src="'/img/' + user.profile_img">
                    <img v-else class="rounded-circle" src="/img/no-image.png">
                </span>
                <span 
                    class="mx-1"
                    :title="user.user_name"
                >
                    <img v-if="user.profile_img" class="rounded-circle" :src="'/img/' + user.profile_img">
                    <img v-else class="rounded-circle" src="/img/no-image.png">
                </span>
                <span 
                    class="mx-1"
                    :title="user.user_name"
                >
                    <img v-if="user.profile_img" class="rounded-circle" :src="'/img/' + user.profile_img">
                    <img v-else class="rounded-circle" src="/img/no-image.png">
                </span>
                <template slot="next"><span class="next slider-homepage-right"><i class="fas fa-caret-right"></i></span></template>
            </carousel>
            </div>
        </div>
    </div>
</template>

<script>
import carousel from 'vue-owl-carousel';
export default {
    components: { carousel },
    data() {
        return {
            users: {}
        }
    },
    methods: {
        getOnlineUsers() {
            axios.get('/api/online-users').then(res => {
                console.log('res', res);
                this.users = res.data.users;
            })
        }
    },
    created() {
        this.getOnlineUsers();
    }
}
</script>

<style lang="scss" scoped>
    img {
        height: 40px;
        width: 40px;
        border: 1px solid #3abbf9;
    }
    .moreUsers {
        white-space: nowrap;
        height: 40px;
        width: 40px;
    }
    .online-users {
        background: #161621;
        border-top: 1px solid #4a4a4a;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px; 
        > div {
            &::-webkit-scrollbar {
                width: 25px !important;
                height: 3px;
            }
            &::-webkit-scrollbar-thumb {
                background: #237aa0;
            }
            &::-webkit-scrollbar-track {
                background: transparent;
            }
        }
    }
    .slider-homepage-left {
        color:#3bcbc0;
        position: absolute; 
        top: 1.1em; 
        left: 0.2em;
        padding: 0.3em 0.1em;
    }
    .slider-homepage-right {
        color:#3bcbc0;
        position: absolute; 
        top: 1.1em; 
        right: 0.2em;
        padding: 0.3em 0.1em;
    }
    .slider-homepage-left:hover, .slider-homepage-right:hover {
        cursor: pointer;
    }
</style>