<template>
    <div v-if="!postFeed.length">
        <div class="p-3 w-100 text-center peopleToFollowTitle">
            <span class="font-weight-bold">People to follow</span>
        </div>
        <div class="d-flex align-items-center flex-column mt-4">
            <div 
                :id="'followPerson' + person.id"
                class="d-flex w-100 px-2" 
                v-for="person in peopleToFollow" 
                :key="person.id"
            >
                <div class="w-75 d-flex justify-content-start">
                    <a 
                        v-if="!person.profile_img || person.profile_img == 'no-image.png'" 
                        @click="showUserDetails(person.id)"
                    >
                        <img class="rounded-circle" style="width: 50px" src="/img/no-image.png">
                    </a>
                    <a 
                        v-else 
                        @click="showUserDetails(person.id)"
                    >
                        <img class="rounded-circle" style="width: 50px" :src="'/uploads/' + person.profile_img">
                    </a>
                    <div class="notification-section-top-left-text text-dark">
                        <a 
                        @click="showUserDetails(person.id)"
                            class="text-light"
                        >
                            {{person.full_name}}
                        </a>
                    </div>
                </div>
                <div class="w-25 d-flex justify-content-end">
                    <button @click='sendFollowRequest(person)' style="height:40px" class="btn btn-primary text-sm">Follow</button>
                </div>
            </div>
        </div> 
    </div>
    <div v-else>
        <div v-for="post in postFeed" :key="post.id">
            <div 
                class="notification-section-li col-xs-12 post-public"
                :class="[post.public ? 'post-public' : 'post-private']"
            >
                <div class="notification-section-top-left col-xs-8 no-padding cursor-pointer">
                    <a 
                        v-if="!post.user_profile_image || post.user_profile_image == 'no-image.png'" 
                        @click="showUserDetails(post.user_id)"
                    >
                        <img class="notification-section-top-img" src="/img/no-image.png">
                    </a>
                    <a 
                        v-else 
                        @click="showUserDetails(post.user_id)"
                    >
                        <img class="notification-section-top-img" :src="'/uploads/' + post.user_profile_image">
                    </a>
                    <div class="notification-section-top-left-text text-dark">
                        <a 
                            @click="showUserDetails(post.user_id)"
                            class="text-dark font-weight-bold" 
                        >
                            {{post.user_full_name}}
                        </a>
                    </div>
                </div>
                <div class="notification-section-top-right col-xs-4 no-padding">
                    {{ post.created_at | moment("from", "now", true) }} ago
                </div>
                <div class="notification-section-bottom col-xs-12 no-padding">
                    <p class="show-read-more" style="text-align: justify; word-break: break-all;">{{post.text}}</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import OnlineUsers from './OnlineUsers.vue';
export default {
  components: { OnlineUsers },
    props : {
        posts: {
            required: true
        }
    },

    data() {
        return {
            postFeed: null,
            peopleToFollow: null
        }
    },

    created() {
        this.postFeed = this.posts

        if(!this.postFeed.length) {
            this.getPeopleToFollow();
        }
    },

    methods: {
        showUserDetails(userId) {
            aboutUser(userId);
        },

        getPeopleToFollow() {
            axios.get('/api/peopleToFollow').then(res => {
                this.peopleToFollow = res.data.users;
            })
        },

        sendFollowRequest(person) {
            let data = {
                'user_id': person.id, 
                'follower_id': user.id
            }

            axios.post('/api/send-follow-request', data).then(res => {
                this.$swal(
                    "Success", 
                    "You stared following " + person.user_name, 
                    "success"
                );
                document.getElementById('followPerson' + person.id).classList.add('d-none');
            })
        }
    }
}
</script>

<style lang="scss" scoped>
    .text-sm {
        font-size: 14px;
    }

    div.w-75 {
        overflow: hidden;
        a {
            white-space: nowrap;
            text-overflow: ellipsis;
            text-decoration: none;
        }
    }

    .peopleToFollowTitle {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
    }

    .online-users {
        height: 56px;
    }
    .post-public {
        background: #dc74aa;
    }
    .post-private {
        background: #3abafe;
    }
    .notification-section-li {
        width: calc(100% - 30px);
        margin-top: 15px;
        margin-left: 15px;
        padding: 15px;
        border-radius: 5px;
    }
    .cursor-pointer {
        cursor: pointer;
    }
</style>

<style>
    .left-menu-close-btn {
        padding-right: 15px;
        padding-top: 10px;
        font-size: 19px;
        font-weight: 400;
        text-align: right;
        cursor: pointer;
        width: 50px;
        float: right;
        z-index: 9999999;
        color: #fff;
        margin: 0 0 10px;
    }
</style>
