<template>
    <div>
        <div class="notification-section-li col-xs-12">
            <div class="notification-section-top-left col-xs-8 no-padding">
                <a>
                    <img class="notification-section-top-img" src="/img/no-image.png">
                </a>
                <div class="notification-section-top-left-text text-dark">
                    <a 
                        :href="'p/' + post.user_id" 
                        style="text-decoration: none; color: grey;"
                    >
                        {{post.user_full_name}}
                    </a>
                </div>
            </div>
            <div class="notification-section-top-right col-xs-4 no-padding">
                {{ post.created_at | moment("from", "now", true) }}
            </div>
            <div class="notification-section-bottom col-xs-12 no-padding">
                <p class="show-read-more" style="text-align: justify; word-break: break-all;">{{post.text}}</p>
                <a :href="'p/' + post.user_id" style="text-decoration: none;" class="show-more-links">
                    Read more
                </a>
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>