<template>
    <div>
        <div class="container">
            <div class="row second-row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-1 icons logo2"><img src="/img/no-image.png"></div>
                                <div class="col-md-1 icons logo2"><img src="/img/no-image.png"></div>
                                <div class="col-md-1 icons logo2"><img src="/img/no-image.png"></div>
                                <div class="col-md-1 icons logo2"><img src="/img/no-image.png"></div>
                                <div class="col-md-1 icons logo2"><img src="/img/no-image.png"></div>
                                <div class="col-md-1 icons logo2"><img src="/img/no-image.png"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 add-padding-top-small">
                            <div class="box-bellow-left-images">
                                <input style="position: absolute; bottom:0; width:80%; margin:0.6em;">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 add-padding-top-small">
                            <div class="box-bellow-left-images"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 add-padding-top-small">
                            <div class="box-bellow-left-images" style="height:4em;"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 add-padding-top-small">
                            <div class="box-bellow-left-images"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row add-padding-top">
                        <div class="col-md-4 logo3">
                            <img src="/img/no-image.png">
                        </div>
                        <div class="col-md-8 logo">
                            <div class="row">
                                <div class="col-md-12">
                                    Name
                                </div>
                            </div>
                            <div class="row add-padding-top">
                                <div class="col-md-12">
                                    Rank - Location owner
                                </div>
                            </div>
                            <div class="row add-padding-top"> 
                                <div class="col-md-2 icons logo4"><img src="/img/no-image.png"></div>
                                <div class="col-md-2 icons logo4"><img src="/img/no-image.png"></div>
                                <div class="col-md-2 icons logo4"><img src="/img/no-image.png"></div>
                                <div class="col-md-2 icons logo4"><img src="/img/no-image.png"></div>
                                <div class="col-md-2 icons logo4"><img src="/img/no-image.png"></div>
                                <div class="col-md-2 icons logo4"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row add-padding-top">
                       <div class="col-md-12">
                            Latest Pynns
                        </div>
                    </div>
                    <div class="row add-padding-top"> 
                        <div class="col-md-3 icons logo3b"><img src="/img/no-image.png"></div>
                        <div class="col-md-3 icons logo3b"><img src="/img/no-image.png"></div>
                        <div class="col-md-3 icons logo3b"><img src="/img/no-image.png"></div>
                        <div class="col-md-3 icons logo3b"><img src="/img/no-image.png"></div>
                    </div>
                    <div class="row add-padding-top">
                        <div class="col-md-12">
                            Instagram
                        </div>
                    </div>
                    <div class="row add-padding-top"> 
                        <div class="col-md-3 icons logo3b"><img src="/img/no-image.png"></div>
                        <div class="col-md-3 icons logo3b"><img src="/img/no-image.png"></div>
                        <div class="col-md-3 icons logo3b"><img src="/img/no-image.png"></div>
                        <div class="col-md-3 icons logo3b"><img src="/img/no-image.png"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    mounted(){
        console.log("test");
    },
    methods: {
        showCommentSection() {
            document.getElementById('comment-section' + id).classList.remove('d-none');
        }
    }
}
</script>

<style lang="scss" scoped>

    .container {
        margin: 6em 0 0 0;
        max-width: 100%;
    }

    .logo-top-left img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin: 0;
    }

    h3 {
        margin: 0;
        font-size: 1.2em;
        line-height: 1.8;
    }

    .icons {
        line-height: 2.5;
    }

    .icons img {
        width: 32px;
        height: 32px;
    }

    
    .logo2 {
        padding: 0 1.8em;
    }

    .logo2 img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .second-row {
        margin-top: 3em;
    }

    .logo3 img {
        width: 200px;
        height: 200px;
    }

    .logo3b img {
        width: 180px;
        height: 180px;
    }

    .logo4 img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

    .add-padding-top-small {
        padding-top: 1em;
    }

    .add-padding-top {
        padding-top: 2em;
    }
    
    .box-bellow-left-images {
        width:92%; 
        height:8em; 
        border: 1px solid #dee2e6; 
        box-shadow: 5px 10px 5px #ced4da;
        margin:auto;
    }
</style>