#admin-v2-pages {
    .slider-pages {
        min-height: 300px;
        width: 50%;
        border: 2px solid #fff;
        border-radius: 5px;
        box-shadow: 1px 1px 10px;
        margin-top: 3vh;
        padding: 35px;
        padding-top: 3vh;

        .title {
            font-size: 16px;
            display: flex;
            justify-content: center;
            margin: 30px 0 20px;
        }

        .buttonHolder {
            text-align: center;
            margin-top: 35px;
        }

        .buttonHolder button {
            border-radius: 5px;
            padding: 7px 15px;
        }
    }
}

// sidebar
#adminSidebar {
    .slimScrollDiv {
        position: fixed !important;
    }
}