#beacon_administration {
    margin-left: 1vw;
    margin-right: 1vw;
    width: 100%;
    .admin_table {
        margin-top: 10px;
    }
    .form-group {
        align-items: center;
        margin-left: 1vw;
        span {
            width: 140px;
            margin-right: 25px;
        }
        input { 
            width: 300px;
            border-radius: 5px;
        }
        #upperLayerSlider,
        #lowerLayerSlider {
            width: 300px !important;
            height: 9px !important;
            margin-left: -20px;
        }
        i.sliderTitle {
            position: relative;
            bottom: 22px;
            font-size: 10px;
            right: 3px;
            color: #000;
            &:last-child {
                left: -30px;
            }
        }
        .ui-slider-range {
            background: #fff;
        }
        .ui-slider-handle {
            width: 40px;
            font-size: 11px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -1px;
            height: 15px;
            cursor: pointer;
        }
    }
    #addNewBeacon {
        width: 100%;
        margin-top: 20px;
        text-align: right;
        a {
            padding: 6px 12px;
            border-radius: 5px;
        }
    }
    #editBeacon {
        width: 100%;
        margin-top: 20px;
        text-align: right;
        a {
            padding: 6px 12px;
            border-radius: 5px;
        }
    }
    .sliders {
        margin-top: 30px;
    }

    #beacon_upload_icon { 
        width: 223px;
        margin-left: -1px;
    }

    #beacon_size, #beacon_icon {
        margin-top: 20px;
        input {
            width: 100px;
            margin-right: 25px;
        }
        i {
            margin-right: 8px;
            margin-left: -16px;
        }
    }
    .beacon_checkboxes {
        margin-left: 12px;
        margin-top: 30px;
        > div {
            display: flex;
            margin-top: 10px;
        }
    }  
    #beacon_administration_public {
        margin: 50px 0;
        justify-content: flex-start;
        .col-6 {
            width: 50%;
        }
        .beacon_checkboxes {
            display: grid;
            grid-template-columns: repeat(3,1fr);
        }
    }
    .pagination { 
        display: flex;
        justify-content: center;
    }
}