#category-management {
    width:100%;
    margin-left: 1vw;
    margin-right: 1vw;
    width: 100%;

    h1 {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .categories {
        justify-content: space-around;
        margin: 15px 0;
        display: flex;
        justify-content: space-evenly;

        i {
            margin-right: 8px;
            margin-top: 3px;
        }
    }

    span {
        &.imgHolder {
            margin: 0 2px;

            img {
                max-width: 20px;
                margin-top: -5px;
            }
        }
    }

    .category {
        width: 50%;
        font-size: 15px;
        font-weight: bold;
        display: flex;
    }

    .buttons {
        width: 50%;
        display: flex;
        justify-content: flex-end;

        .btn {
            border-radius: 5px;
            padding: 6px 30px;
            margin: 0 5px;
        }

        .btn-secondary {
            padding: 6px 24px;
            background: #958f8f;
            ;
            color: #fff;
        }
    }

    .button-holder {
        text-align: center;

        .btn {
            border-radius: 5px;
            margin-top: 30px;
            padding: 10px;
        }
    }

    .pagination {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .addNewGroup {
        margin-top: 20px;

        a {
            border-radius: 5px;
            padding: 7px 15px;
        }
    }

    form {
        display: flex;
        justify-content: center;

        a {
            height: 15px;
            margin-top: -2px;
            margin-right: 8px;

            &.fa-edit {
                margin-top: 0;
            }
        }

        i.fa-trash-alt {
            cursor: pointer;

            &:hover {
                color: red;
            }
        }
    }
}

#category-add {
    width: 60%;

    h1 {
        text-align: center;
    }

    .no-padding {
        padding: 0;
    }

    .admin-icons-list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

    .admin-icon {
        width: 55px;
        height: 55px;
        margin-left: 3px;
        margin-right: 3px;
        margin-bottom: 6px;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 3px;
        padding-bottom: 3px;
        border: 1px solid #eee;
        border-radius: 5px;
    }

    .admin-icon img {
        width: 100%;
        height: 100%;
    }

    .progress {
        background: lightgray;
    }

    .submitBtn {
        width: 100%;
        display: flex;
        justify-content: center;

        input {
            border-radius: 5px;
            width: 200px;
        }
    }
}

#category_add_continue {
    width: 100%;
    .container {
        width: 60%;
    }

    .progress {
        background: lightgray;
    }

    label {
        font-size: 15px;
    }

    #location_field_specific_details {
        font-size: 17px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 10px 0;
        text-align: center;
        background: #344259;
        color: #fff;
        border-radius: 5px;
        margin: 30px 0 20px;
    }
}

// icons
#category-icons {
    .category-icons-title {
        margin-bottom: 30px;
        text-align: center;
        font-size: 19px;
        font-weight: bold;

        span {
            color: #000;
        }
    }

    .admin-icons-list {
        display: grid;
        grid-template-columns: repeat(8, 1fr);

        .admin-icon {
            width: 40px;
            height: auto;
            padding: 5px;
            border-radius: 1px;
            margin: 10px 0;
            cursor: pointer;
            display: grid;
            align-items: center;
        }
    }

    #icon-admin-btn {
        border-radius: 5px;
    }

    .iconActive {
        background: #3097d1;

        img {
            background: #fff;
            border-radius: 3px;
            padding: 1px;
        }
    }
}

// Edit Category
#category-edit {
    .main-admin-section {
        display: flex;
        justify-content: center;

        >.col-xs-9 {
            border: 1px solid #ccc;
            box-shadow: 1px 1px 10px #ccc;
            margin-top: 10px;
            padding: 0;
        }
    }

    .edit-subcategories {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        padding: 5px;
        align-items: center;
    }

    .admin-category-title {
        border-bottom: 1px solid #ccc;

        div {
            display: flex;
            justify-content: space-between;
            padding: 5px;
            font-size: 16px;
            font-weight: bold;
            margin: 10px 0;
            align-items: center;
        }

        a {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 5px;
            text-decoration: none;
        }

        img {
            border-radius: 5px;
            margin-left: 10px;
        }
    }

    .edit-subcategory-title {
        font-size: 16px;
        font-weight: bold;
        margin: 10px 0;
    }

    .btn {
        border-radius: 5px;
    }

    img {
        width: 50px;
    }

    .edit-custom-fields {
        .edit-subcategory-title {
            width: 100%;
            text-align: center;
            font-size: 16px;
            font-weight: bold;
            margin: 10px 0;
        }

        .admin-custom-field-section {
            padding: 5px;
            border-bottom: 1px solid #ccc;

            >div div {
                justify-content: space-between;
                margin-bottom: 10px;
                padding: 0 40px;

                .title {
                    font-size: 14px;
                    font-weight: bold;
                }
            }

            form {
                justify-content: center;
                margin-top: 5px;
                margin-bottom: 5px;

                .btn {
                    margin: 0 5px;
                }
            }
        }
    }

    #editCategoryButton {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 10px 0;

        &:hover {
            text-decoration: none;
        }
    }
}

// category-edit-custom
#category-edit-custom {
    .main-admin-section {
        display: flex;
        flex-direction: column;

        .admin-category-title {
            font-size: 20px;
            font-weight: bold;
            margin: 5px 0;
            width: 100%;
            text-align: center;
        }

        .no-padding {
            padding: 0;
        }

        .file-icon-text {
            font-size: 18px;
            font-weight: bold;
            margin: 10px 0 5px;
        }

        .admin-category-icons-title {
            width: 100%;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            margin: 20px 0;
        }

        .category-icons {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-row-gap: 10px;
            justify-items: center;

            .category-icon {
                width: 20%;
                text-align: center;
                border-radius: 50%;
                padding: 6px;

                i {
                    // font-family: FontAwesome; 
                    font-size: 20px;
                }
            }
        }
    }

    .submitButton {
        display: flex;
        margin: auto;
        border-radius: 5px;
        padding: 6px 25px;

        &:hover {
            color: #fff;
        }
    }
}

// category_edit_custom_fields
#category_edit_custom_fields {
    form {
        width: 100%;

        .title {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .field-type {
            display: none;
            margin-top: 15px;
        }

        #text {
            display: block;
        }
    }
}

// category_location_groups
#category_location_groups {
    table-layout: fixed;

    td.collapsed {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .actions {
        >div {
            div.ordering {
                color: #393737;
            }
        }
    }
}