.inputLabel {
    width: 100px !important;
}

.input {
    width: 300px !important;
    border-radius: 5px !important;
}

.textarea {
    width: 300px !important;
    border-radius: 5px !important;
}

.searchResults {
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.6);
    padding: 10px 15px;
    position: absolute;
    top: 0;
    box-shadow: 1px 1px 10px #ccc;
    max-height: 300px;
    overflow-y: scroll;
    z-index: 2;
}

#location-profile-show {
    max-height: unset;
}

.input-border-primary {
    border: 1px solid #35baa0 !important;
}