.admin_header {
    margin: 20px 0 50px;

    .active {
        background: #35baa0;
        border-color: #35baa0;
        color: #fff;

        &:hover {
            text-decoration: none;
            background: #23a68c;
            color: #fff;
        }
    }

    a {
        border: 1px solid #ccc;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-size: 13px;
        font-weight: 600;
        padding: 6px 20px;
        background: #fff;
        border-bottom-color: #fff;
        color: #5e5e5e;
        cursor: pointer;

        &:hover {
            text-decoration: none;
            color: #131212;
        }
    }
}