#locations_layer {
    .form-group {
        margin-bottom: 0;
    }
}

.map_settings {
    margin-left: 1vw;
    margin-right: 1vw;
    width: 100%;
    #bottom-layer {
        margin-top: 50px;
        .main-title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .flex-grow-2 {
            flex-grow: 2;
            margin-left: 20px;
        }
        .d-flex {
            align-items: center;
            margin-bottom: 20px;
            .title {
                width: 20%;
                padding-right: 20px;
            }
            .content {
                width: 80%;
                align-self: center;
            }
            .sliders {
                background: rgba(214, 235, 247, 0.3);
                height: 30px;
                padding: 10px 5px;
            }
            .dropdowns {
                display: flex;
                div {
                    width: 20%;
                    margin-right: 100px;
                    .coordinates {
                        position: relative;
                        right: 35px;
                        top: 22px;
                        font-size: 11px;
                    }
                }
            }
        }
        // Handles
        #reach-handle, #privacy-handle {
            width: 3em;
            height: 1.6em;
            top: 50%;
            // margin-top: -.8em;
            text-align: center;
            line-height: 1.6em;
        }

        #friendsLayerSlider, #otherAvatarsLayerSlider, #locationsSlider, #beaconSlider  {
            .ui-slider-range {
                background: #efe6e6;
            }
        }
        
        .ui-slider-range {
            background: #fff;
        }

        .ui-slider-handle {
            height: 1.6em;
            width: 3em;
            display: flex;
            top: -0.5em;
            justify-content: center;
            align-items: center;
        }
    }
}
