    // Table
    table {
        margin-top: 40px;
        width: 100%;
        font-size: 14px;

        tr {
            padding: 10px;

            &.even {
                background: #fff;
            }

            &.odd {
                background: #fff;
            }

            th {
                padding: 10px;
                text-align: center;
                background: #35baa0;
                color: #fff;
                border: 1px solid #ccc;

                &:first-child {
                    border-left-color: #35baa0;
                }

                &:last-child {
                    border-right-color: #35baa0;
                }
            }

            td {
                padding: 10px;
                text-align: center;
                border: 1px solid #ccc;

                a {
                    margin: 0 1px;
                    color: #393737;

                    &:hover {
                        color: #337ab7;
                        text-decoration: none;
                    }
                }

                &.actions {
                    a {
                        margin-right: 5px;
                    }
                }

                &.d-flex {
                    align-items: center;
                }

                img {
                    max-width: 50px;
                }
            }
        }
    }