#tile-server-management {
    margin-left: 1vw;
    margin-right: 1vw;
    width: 100%;
    > div.d-flex {
        justify-content: space-around;
        text-align: center;
        div {
            flex-grow: 1;
            .title { 
                font-weight: 600;
                font-size: 15px;
                border-bottom: 2px solid #a9a9a9;
                padding-bottom: 5px;
            }
            .value {
                border-bottom: 1px solid #cacaca;
                padding: 5px 0;
            }
        }
    }
    table {
        width: 100%;
        border: 2px solid #e0e0e0;
        box-shadow: 1px 1px 10px;
        margin-top: 10px;
        thead {
            tr { border-bottom: 2px solid #e0e0e0;;
                th { 
                    font-size: 15px;
                    text-align: center;
                    font-size: 15px;
                    text-align: center;
                }
            }
        }
        tbody {
            tr {
                border-bottom: 1px solid #ccc;
                td {
                    text-align: center;
                    padding: 10px 5px;
                }
            }
        }
    }
    .button-holder {
        text-align: center;
        margin-top: 30px;
        a.btn {
            border-radius: 5px;
        }
    }
}

#add-tile-server {
    .admin-category-title {
        text-align: center;
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 600;
    }
    label {
        margin-bottom: 14px;
        font-size: 15px;
        text-indent: 5px;
        #checkboxHolder {
            align-items: center;
            color: gray;
            margin-left: 4px;
        }
    }
    input { border-radius: 5px }
    .button-holder {
        margin-top: 20px;
        input {
            border-radius: 5px;
            width: 150px;
        }
    }
    .inActive { color: indianred; }
    .active { color: green; }
}