#admin_users {
    #createUser {
        .checker { width: 100%;}
    }
     #search_users {
        width: 300px;
        margin-bottom: 0;
        position: relative;

        input {
            border-radius: 5px;
            padding-left: 28px !important;
        }

        i {
            position: absolute;
            left: 8px;
            top: 11px;
        }
    }

    table {
        margin-top: 20px;

        td {
            a {
                cursor: pointer;
            }

            &.imgTableCell {
                img {
                    width: 50px;
                    border-radius: 2px;
                }
            }
        }
    }

    .pagination {
        display: flex;
        justify-content: center;
    }

    #createNewUser {
        display: flex;
        justify-content: flex-end;
        margin: 0 1vw;
        margin-top: -33px;

        a {
            border-radius: 3px;
            padding: 6px 10px;
        }
    }

    // Regi invitations
    #reg_invitation_checkboxes {
        display: flex;
        padding-left: 30px;
        align-items: center;

        >div {
            width: 25px;
        }

        span.labels {
            margin-right: 15px;
        }

        label {
            margin-bottom: 0;
            display: flex;

            div.checker {
                display: none;
            }
        }
    }

    input.checkbox {
        width: 18px;
        height: 18px;
        margin-right: 15px;
        margin-left: 3px;
        margin-top: 1px;
        background: #fff;
    }

    .dates {
        margin-top: 20px;
        height: 34px;
        overflow: hidden;

        div {
            &.form-group {
                margin-right: 20px;
            }

            &.d-flex {
                margin-right: 20px;
                align-content: center;
            }

            input.checkbox {
                margin-right: 5px;
                margin-top: 8px;
                margin-left: 20px;
            }

            select {
                width: 180px;
                border-radius: 5px;
            }
        }

        span.labels {
            align-self: center;
            margin-right: 10px;
        }

        // styling input type
        input[type="date"]::-webkit-clear-button {
            display: none;
        }

        /* Removes the spin button */
        input[type="date"]::-webkit-inner-spin-button {
            display: none;
        }

        /* Always display the drop down caret */
        input[type="date"]::-webkit-calendar-picker-indicator {
            color: #2c3e50;
        }

        /* A few custom styles for date inputs */
        input[type="date"] {
            appearance: none;
            -webkit-appearance: none;
            color: #95a5a6;
            font-family: "Helvetica", arial, sans-serif;
            font-size: 16px;
            border: 1px solid #ecf0f1;
            background: #ecf0f1;
            padding: 5px;
            display: inline-block !important;
            visibility: visible !important;

            border: 1px solid #dce1e4;
            border-radius: 3px;
            background: #fff;
        }

        input[type="date"],
        focus {
            color: #95a5a6;
            box-shadow: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
        }
    }

    .buttonHolder {
        margin-top: 20px;

        a.btn {
            border-radius: 5px;

            &:hover {
                background: #554b91;
                color: #fff;
            }
        }
    }

    #newinvite {
        text-align: end;
    }
}

// Auth Methods
.auth_methods {
    table {
        td {
            .upDownArrows {
                display: grid;
            }

            &.social_media_icons {
                position: relative;

                div {
                    position: absolute;
                    left: 30%;
                    top: 32%;

                    i {
                        margin-right: 3px;
                    }
                }
            }

            &.d-flex {
                div {
                    margin-right: 5px;
                }
            }
        }
    }

    .buttonHolder {
        display: flex;
        justify-content: flex-end;

        a {
            border-radius: 5px;
            padding: 6px 12px;
        }
    }
}

// Auth methods.add_new_service
.add_new_service {
    .container {
        float: left;
        width: 50%;

        >div {
            width: 400px;
            display: flex;
            align-items: center;

            label {
                margin-right: 10px;
                font-weight: 600;
                width: 30%;
            }

            span {
                font-weight: 600;
            }

            input {
                border-radius: 5px;
            }
        }

        .title {
            padding-bottom: 20px;

            span {
                font-size: 2rem;
                font-weight: 600;
            }
        }

        .buttonHolder {
            justify-content: space-evenly;
            padding-top: 10px;

            .btn {
                padding: 6px 12px;
                width: 90px;
            }
        }
    }
}