div#app {
    height: 100%;
    div#map {
        height: 100%;
    }
}

.leaflet-popup-content {
    width: 185px !important;
}

.leaflet-popup-content-wrapper {
    padding-bottom: 3px !important;
}

.userPopupContent {
    word-break: break-word;
    .statusPopupImg {
        width: 26px;
        height: 26px;
        border-radius: 50%;
    }
    .popupActions {
        display: flex;
        justify-content: flex-end;
        margin: 6px 0 3px;
        .btn {
            margin: 0 3px;
        }
    }
    a {
        cursor: pointer;
    }
    a.btn {
        color: #fff !important;
    }
}

.map-data-indicator {
    display: flex;
    min-width: 93px;
    background: rgba(255,255,255,0.4);
    padding: 10px;
    position: fixed;
    right: 0;
    top: 60px;
    z-index: 999;
    span {
        color: #424242; 
        font-weight: bold
    }
    i {
       color:#247ba0;
    }
}

.no-image-location {
    height: 20px !important;
    margin-top: 5px;
}

#left-menu-section-toggle {
    width: 400px;
    .left-menu-ul {
        height:90%; 
        overflow-y: scroll;
        padding-bottom: 20px;
    }
}

