.admin-menu {
	float: left;
	width: 250px;
	margin-top: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background: #fff;
}

.admin-menu-li {
	padding: 10px;
	padding-left: 15px;
	border-bottom: 1px solid #eee;
	font-weight: 600;
}

.main-admin-section {
	float: left;
	width: calc(100% - 280px);
	margin-top: 45px;
	margin-left: 30px;
}

.admin-category-title {
	margin-bottom: 15px;
	font-size: 20px;
	font-weight: 600;
}

.admin-category-title img {
	width: 30px;
	height: 30px;
	margin-left: 5px;
}

.category-li {
	height: 40px;
	margin-left: 20px;
	font-size: 16px;
	font-weight: 600;
	text-transform: capitalize;
	display:list-item;
}

.admin-select-li {
	padding: 3px;
	text-transform: capitalize;
}

.admin-delete-btn {
	float: right;
	height: 30px;
	font-weight: 600;
	line-height: 19px;
	border: 0;
}

.file-icon-section {
	margin-top: 15px;
}

.file-icon-text {
	font-size: 20px;
	font-weight: 600;
	color: #636b6f;
}

.category-icon-img-section {
	float: left;
	margin-right: 10px;
}

.category-icon-img-section img {
	width: 30px;
	height: 30px;
	border-radius: 5px;
}

.field-type {
	display: none;
}

#text {
	display: block;
}

.edit-subcategories {
	margin-top: 30px;
	font-family: 14px;
	font-weight: 600;
	text-transform: capitalize;
}

.edit-subcategory-title {
	margin-bottom: 10px;
	font-size: 16px;
}

.admin-custom-field-section {
	margin-bottom: 15px;
	font-size: 16px;
	font-weight: 600;
}

.admin-custom-field-text {
	margin-left: 10px;
	font-size: 12px;
}

.admin-custom-field-text img {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 3px;
}

.admin-custom-field-text span {
	margin-left: 10px;
	font-size: 12px;
	color: #3097d1;
}

.custom-fields-edit-btn {
	height: 21px;
	margin-top: 2px;
	line-height: 10px;
	font-size: 12px;
	border: 0;
}

.category-icons-title {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 500;
	text-transform: capitalize;
	text-decoration: underline;
}

.admin-icon {
	float: left;
	width: 55px;
	height: 55px;
	margin-left: 3px;
	margin-right: 3px;
	margin-bottom: 6px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 3px;
	padding-bottom: 3px;
	border: 1px solid #eee;
	border-radius: 5px;
	background: #fff;
	cursor: pointer;
}

.admin-icon img {
	width: 100%;
	height: 100%;
}

.iconActive {
	background: #3097d1;
}

.custom-admin-lvl-icon {
	padding: 10px;
	font-size: 20px;
	color: red !important;
}
