.custom-admin-lvl-icon {
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.5s;
}

.custom-admin-lvl-icon:hover {
    opacity: 0.5;
    color: #22BAA0;
}

.icon-wraper-section {
    padding-left: 15px;
    padding-right: 15px;
}

.custom-icons {

}

.custom-icons img {
    height: 50px;
    padding: 5px;
    cursor: pointer;
    transition: 0.5s all;
}

.custom-icons img:hover {
    opacity: 0.5;
}

.master_message {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 70px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 74px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    background: #2A9D8F;
    color: #fff;
    z-index: 999999999;
    
    
}

.master_message_error {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 70px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 74px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    background: #E76F51;
    color: #fff;
    z-index: 999999999;
}

.custom-admin-icon-list {
    margin-top: 15px;
}

.custom-admin-icon-list img {
    height: 50px;
    border-radius: 5px;
    margin-right: 5px;
    transition: all 0.5s;
    cursor: pointer;
}

.custom-admin-icon-list img:hover {
    opacity: 0.5;
}