.map-beacon {
    position: fixed;
    top: 60px;
    right: 0;
    width: 330px;
    height: calc(100vh - 60px);
    background: rgba(255,255,255,1);
    z-index: 999;
    display: none;
}

.map-beacon-img {
    height: 220px;
    overflow: hidden;
}

.map-beacon-img img {
    width: 100%;
}

.map-beacon-title {
    height: 70px;
    margin-top: -15px;   
    padding-left: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 70px;
    background: #4285F4;
    color: #fff;
}

.beacon-places {
    margin-top: 20px;
}

.places-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #484848;
}

.places-images {
    margin-top: 5px;
    margin-left: -5px;
}

.places-image {
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    transition: all 0.5s;
}

.places-image:hover {
    opacity: 0.75;
}

.places-image img {
    height: 60px;
    border-radius: 5px;
    cursor: pointer;
}

.beacons-show-more {
    margin-top: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #4285F4;
    cursor: pointer;
}

.beacons-community-li {
    height: 80px;
    margin-top: 15px;
    line-height: 80px;
    padding-top: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.5s;
}

.beacons-community-li:hover {
    opacity: 0.75;
}

.beacons-community-img {
    float: left;
    width: 60px;
}

.beacons-community-img img {
    width: 100%;
    margin-top: 2px;
}

.beacons-community-text {
    float: left;
    width: calc(100% - 60px);
    padding-left: 15px;
    line-height: 20px;
}

.beacons-community-text-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #4285F4;
}

.beacons-community-text-text {
    margin-top: -2px;
}

.beacons-community-likes {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 11px;
    font-weight: 500;
}

.beacons-community-sub-text {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.beacons-close {
    position: absolute;
    width: 50%;
    top: 11px;
    right: 15px;
    font-size: 20px;
    font-weight: 600;
    text-align: right;
    color: #fff;
    cursor: pointer;
    z-index: 9999999;
}

.beacon {
    margin-top: 80px;
}

.beacon-profile-img {
    float: left;
    width: 330px;
}

.beacon-profile-img img {
    width: 100%;
    border-radius: 5px;
}

.beacon-profile-map {
    float: left;
    width: calc(100% - 330px);
    padding-left: 15px;
}

.beacon-profile-map img {
    width: 100%;
    height: 330px;
}

.beacon-social {
    height: 60px;
    line-height: 60px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}

.beacon-social-like {
    float: left;
    width: 140px;
    height: 40px;
    margin-top: 10px;
    margin-left: 15px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    background: #f5f6f7;
    color: #6b7181;
    cursor: pointer;
    transition: all 0.5s;
}

.beacon-social-like:hover {
    opacity: 0.55;
    background: #d5d5d5;
}

.beacon-social-share {
    float: left;
    width: 140px;
    height: 40px;
    margin-top: 10px;
    margin-left: 15px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    background: #f5f6f7;
    color: #6b7181;
    cursor: pointer;
    transition: all 0.5s;
}

.beacon-social-share:hover {
    opacity: 0.55;
    background: #d5d5d5;
}

.beacon-default-btn {
    width: 150px;
}

.beacon-main-section {
    margin-top: 15px;
    margin-bottom: 60px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}

.beacon-main-section-title {
    margin-top: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #484848;
}

.beacon-main-section-places {
    float: left;
    margin-top: 15px;
}

.beacon-main-li {
    float: left;
    width: 20%;
    margin-bottom: 15px;
    padding-left: 2%;
    padding-right: 2%;
}

.beacon-main-li img {
    width: 100%;
    border-radius: 5px;
}

.beacon-main-section-text {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #484848;
}

.beacon-social-link {
    float: left;
    margin-right: 15px;
    margin-left: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #247ba0;
    cursor: pointer;
    transition: all 0.5s;
}

.beacon-social-link:hover {
    opacity: 0.75;
}

.beacon-events-li {
    margin-bottom: 30px;
}

.beacon-events-li-img {
    float: left;
    width: 315px;
    height: 200px;
}

.beacon-events-li-img img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.beacon-events-li-right {
    float: left;
    width: calc(100% - 330px);
    margin-left: 15px;
}

.beacon-events-li-right-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.beacon-events-li-right-date {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.beacon-events-li-right-text {
    margin-top: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.beacon-main-images {
    display: none;
}

.beacon-main-events {
    display: none;
}

.beacon-main-community {
    display: none;
}