 .area {
        width: 100%;
        height: 200px;
        border: 4px dashed #000;
        background-image: url("/img/upload-photo.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 50px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        filter: alpha(opacity=50);
        -khtml-opacity: 0.5;
        -moz-opacity: 0.5;
        opacity: 0.5;
        text-align: center;
    }   

    .area input {
        width: 400%;
        height: 100%;
        margin-left: -300%;
        border: none;
        cursor: pointer;
    }

    .area input:focus {
        outline: none;
    }

    .area:hover {
        cursor: pointer;
    }

    .area .spinner {
        display: none;
        margin-top: 50%;
    }

    .area:hover,
    .area.dragging,
    .area.uploading {
        filter: alpha(opacity=100);
        -khtml-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
    }

    .area.uploading {
        background: none;
    }

    #upload-demo-croppie {
        display: none;
    }

    #upload-demo-croppie-button {
        display: none;
    }

    #preview-photo-using-cam {
        display: none;
    }

    #submit-cam-button {
        display: none;
    }

    #cam-photo-crop {
        display: none;
    }

    #cam-photo-crop-button {
        display: none;
    }

    #retake-photo {
        display: none;
    }

    #upload-a-photo-button{
        background-color: white;
    }
    
    #upload-a-photo-button:hover {
        background-color: #e6e6e6;
    }

    .gp-main-section .form-horizontal .row div a:hover {
        text-decoration: none;
    }

    .gp-main-section .form-horizontal .add-hover-on-class {
        background-color: #F5F5F5;
        padding: 5px;
    }
    .gp-main-section .clear-padding-row {
        padding:0;
    }
    .gp-main-section .form-horizontal .row .col-md-7 .add-hover-on-class:hover {
        background-color: #E9F5F5;
    }

     .gp-main-section .form-horizontal .row .add-hover-on-class {
        background-color: #F5F5F5;
    }

    .gp-main-section .form-horizontal .row .add-hover-on-class:hover {
        background-color: #E9F5F5;
    }

    .col-xs-12 .row .published-post-buttons {
        text-decoration: none;
        color: grey;
    }

    .col-xs-12 .row .published-post-buttons i {
        font-size: 1.3em;
    }

    .col-xs-12 .row .published-post-buttons span {
        padding-left: 8px;
        font-weight: bolder;
    }
    
    .col-xs-12 .row .status-time {
        font-size: 0.8em;
    }
    .button-primary-color {
        background-color: #247ba0 !important; 
        color: white;
    }
    .button-primary-color:hover {
        color: white;
    }