.global-profile {
	margin-top: 90px;
}

.gp-header-section {
	position: relative;
	height: 180px;
	background-color: #ffffff;
}

.gp-header-section > div {
	/*width: 50%;*/
}

.gp-header-section .header-menu {
	justify-content: space-evenly;
	background: none;
}
.gp-header-section .header-menu a {
	display: flex;
    align-items: center;
}
.gp-header-section .header-menu ul li {
	padding-right: 12px;
}
.gp-header-section .header-menu ul li a {
	text-decoration: none;
	padding-right: 8px;
}
.gp-header-section .header-menu ul a i {
	padding-right: 8px;
}
.gp-header-section .profile-img-and-text {
	display: flex;
	justify-content: flex-start;
	padding: 25px 0 0 25px;
}

.container .gp-main-section .user-profile-tabs {
	display: flex;
	justify-content: space-around;
}

.container .gp-main-section .user-profile-tabs2 {
	display: flex;
	justify-content: flex-end;
	background-color: #ffffff;
	position: fixed;
	width: 100%;
	top: 60px;
	left: 0;
	z-index: 999;
	padding:15px 0 15px 0;
}
.container .gp-main-section .user-profile-tabs22 {
	display: flex;
	justify-content: flex-end;
	margin: auto;
}
.container .gp-main-section .appear {
	display: block;
}
.container .gp-main-section .disappear {
	display: none;
}
.global-profile .container .gp-header-section .profile-img-and-text .profile-image-nav .img-hover {
    position: absolute; 
    bottom: 6px; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: 1s ease;
    opacity:0;
    color: white;
    text-align: center;
    cursor: pointer;
}
.global-profile .container .gp-header-section .profile-img-and-text .profile-image-nav:hover .img-hover {
	opacity: 1;
}
.profile-image-nav:hover {
	cursor: pointer;
}
#img1 {
	display: none;
}
#img2 {
	display: none;
}
.gp-header-section .name {
	padding-bottom: 10px;
}
.bold {
	font-weight: 700;
}

.gp-header-section .header-menu a .bold {
	font-size: 1.6rem;
}
.unordered-list-1 {
	display: flex;
	flex-direction: row;
	padding: 0;
	margin: 0;
}
.unordered-list-1 li {
	list-style-type: none;
}

.gp-header-section .user-profile-right-side {
	display: flex;
	justify-content: flex-end;
}

.gp-header-section .user-profile-right-side div .dropdown-menu a {
	color: #5bc0de;
	padding-top: 5px;
}
.gp-header-section .user-profile-right-side div a {
	text-decoration: none;
	font-size: 1em;
}
.unordered-list-2 {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	padding: 20px 20px 0 0;
}
.unordered-list-2 li {
	display: inline-block;
	list-style-type: none;
	padding-top: 10px;
}
.unordered-list-2 li a {
	text-decoration: none;
	font-size: 16px;
}
.profileMainDesc {
	justify-content: center;
	margin-left: 45px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.profileMainDesc .name {
	font-weight: 900;
	font-size: 1.7rem;
}

.gp-header-section img {
	width: 100%;
	border-radius: 50%;
}

.gp-header-main-img {
	position: absolute;
	width: 132px;
	height: 132px;
	margin-top: -85px;
	margin-left: calc(50% - 66px);
}

.gp-header-main-img img {
	width: 100%;
	border: 6px solid #fff;
	border-radius: 100%;
	overflow: hidden;
	background-color: #FDFBEE;
}

.header-menu {
	height: 100px;
	/* line-height: 102px; */
	background: #fff;
}

.header-menu a {
	color: #636b6f;
}

.header-menu-li {
	float: left;
	width: 14.28%;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	text-align: center;
	cursor: pointer;
}

.header-menu-li-name {
	font-size: 20px;
	font-weight: 700;
	line-height: 110px;
	color: #515365;
}

.header-menu-li-text {
	margin-top: -35px;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
    font-weight: 400;
    line-height: 0;
    color: #888da8;
}

.global-profile-timeline-left {
	padding-left: 0;
	margin-top: 15px;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #e6ecf5;
}

.gp-block-title {
	padding: 23px 25px 18px;
	line-height: 1;
	display: table;
	width: 100%;
	border-bottom: 1px solid #e6ecf5;
	position: relative;
	border-radius: 5px 5px 0 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

.gp-block-content {
	padding: 24px 23px 23px;
}

.gp-block-content {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
}

.gp-block-content-li {
	margin-bottom: 25px;
	line-height: 19px;
	color: #888da8;
}

.gp-block-content-li-title {
	font-weight: 500;
	color: #515365;
}

.gp-block-content-img {
	width: 15%;
	margin-bottom: 10px;
	padding: 2px;
	border-radius: 100%;
}

.gp-block-title-link {
	float: right;
	font-size: 11px;
	color: #247BA0;
	cursor: pointer;
}

.gp-main-section {
	margin-top: 15px;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #e6ecf5;
}

.gp-main-section-li {
	padding: 24px 23px 23px;
}

.gp-main-section-top img {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	overflow: hidden;
	margin-right: 12px;
}

.gp-author-img {
	float: left;
}

.gp-author-date {
	float: left;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

.gp-author {
	font-weight: 600;
}

.gp-date {
	margin-top: -2px;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.5;
	color: #888da8;
}

.gp-dots {
	float: right;
	line-height: 40px;
	color: #c0c4d8;
}

.gp-main-section-middle {
	margin-top: 30px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	color: #888da8;
}

.gp-main-section-bottom {
	margin-top: 30px;
	padding: 20px 0 0;
    border-top: 1px solid #e6ecf5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.gp-main-section-bottom-li {
	margin-right: 15px;
	font-size: 18px;
	color: #c2c5d9;
}

.gp-main-section-bottom i {
	font-size: 18px;
	color: #c2c5d9;
	cursor: pointer;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.gp-main-section-bottom i:hover {
	color: #ff5e3a;
}

.gp-main-section-li-number {
	float: left;
	margin-left: 7px;
	font-size: 14px;
	line-height: 26px;
}

.global-profile-timeline-right-section {
	margin-top: 15px;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #e6ecf5;
}

.gp-right-img-section img {
	width: 32.3%;
	margin-bottom: 5px;
	padding-left: 2px;
	padding-right: 2px;
	border-radius: 5px;
}

.gp-right-video-li {
	margin-bottom: 15px;
	position: relative;
}

.gp-right-video-li img {
	width: 100%;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.gp-right-video-li img:hover {
	opacity: 0.75;
}

.gp-right-video-li-icon {
	position: absolute;
	top: 50px;
	left: calc(50% - 25px);
	font-size: 50px;
	color: #fff;
	cursor: pointer;
}

.gp-about-me-li {
	margin-bottom: 30px;
}

.friends-search-bar-section {
	margin-top: 15px;
	margin-bottom: 15px;
	height: 70px;
	line-height: 70px;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #e6ecf5;
}

.custom-search-friends-icon {
	position: absolute;
	top: 28px;
	right: 15px;
	color: #b9afaf;
}

.custom-friends-header-name {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #484848;
}

.fs-list-section {
	width: calc(100% + 30px);
	margin-left: -15px;
}

.fs-li {
	margin-bottom: 15px;
}

.fs-header-img {
	height: 100px;
}

.fs-header-img img {
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.fs-profile-img {
	float: left;
	position: relative;
	width: 100px;
	height: 100px;
	margin-top: -40px;
	margin-left: calc(50% - 50px);
	border: 4px solid #fff;
	border-radius: 50%;
	overflow: hidden;
	z-index: 99999;
}

.fs-profile-img img {
	width: 100%;
}

.fs-text {
	margin-top: -46px;
	padding-top: 60px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	background: #fff;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	color: #484848;
}

.fs-location {
	margin-top: -3px;
	margin-bottom: 15px;
	font-size: 12px;
	font-weight: 400;
	color: #888da8;
}

.ps-header-btn {
	float: right;
	height: 40px;
	margin-top: 15px;
	margin-right: 15px;
	padding-left: 15px;
	padding-right: 15px;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 600;
	line-height: 40px;
	background: #38a9ff;
	border-radius: 7px;
	color: #fff;
	cursor: pointer;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.ps-header-btn:hover {
	opacity: 0.75;
}

.ps-main-section {
	width: calc(100% + 30px);
	margin-left: -15px;
}

.ps-li {
	border: 1px solid #e6ecf5;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	cursor: pointer;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.ps-li:hover {
	opacity: 0.75;
}

.ps-li-header-img img {
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.ps-li-text {
	padding-top: 15px;
	border-left: 1px solid #e6ecf5;
	border-right: 1px solid #e6ecf5;
	border-bottom: 1px solid #e6ecf5;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background: #fff;
	color: #484848;
}

.ps-li-date {
	margin-top: -3px;
	font-size: 12px;
	color: #888da8;
}

.ps-comment-num {
	margin-top: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #484848;
}

.ps-comment-text {
	margin-bottom: 30px;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #888da8;
}

.as-section {
	width: calc(100% + 10px);
	margin-left: -5px;
}

.as-section img {
	height: 293px;
	margin-bottom: 15px;
	padding-left: 5px;
	padding-right: 5px;
	cursor: pointer;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.as-section img:hover {
	opacity: 0.75;
}

.as-carousel {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.9);
	z-index: 99999999;
}

.as-carousel {
	display: none;
}

.as-carousel img {
	width: 400px;
	margin-top: 250px;
	margin-left: calc(50% - 200px);
	border-radius: 5px;
}

.as-close-icon {
	position: absolute;
	right: 15px;
	top: 15px;
	font-size: 30px;
	color: #fff;
	cursor: pointer;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.as-close-icon:hover {
	opacity: 0.75;
}

.vs-videos-section {
	width: calc(100% + 30px);
	margin-left: -15px;
}

.vs-video-li {
	margin-bottom: 15px;
	border: 1px solid #e6ecf5;
	background: #fff;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.vs-video-li:hover {
	opacity: 0.75;
}

.vs-video-li img {
	width: 100%;
}

.vs-video-li-text {
	margin-top: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 600;
	text-align: left;
	color: #484848;
}

.vs-video-li-time {
	margin-bottom: 15px;
	font-size: 14px;
	text-align: left;
	font-weight: 400;
	color: #a3a6ab;
}

.gp-post-title {
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #636b6f;
}

.custom-s-btn {
	float: right;
	width: 70px;
	border: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background-color: #0080a0;
	margin: -8px 10px 0 0;
}

.custom-s-btn:hover {
	background: #02627a;
}

.gp-upload-icon {
	margin-left: 2px;
	margin-top:10px;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.gp-upload-icon:hover {
	opacity: 0.75;
}

.gp-post-text {

}

.gp-post-img {
	margin-top: 15px;
	padding-left: 0;
	padding-right: 0;
}

.gp-post-img img {
	width: 50%;
	border-radius: 8px;
}

.gp-like-color {
	color: red !important;
}

.gp-comment-section {
	background: #FAFBFD;
}

.gp-comment-submit-section {
	padding-top: 25px;
	border-top: 1px solid #e6ecf5;
	background: #fff;
}

.gp-comment-submit {

}

.gp-comment-submit textarea {
	border: 1px solid #e6ecf5;
	box-shadow: none;
}

.gp-comment-submit-btn {
	float: right;
	height: 40px;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 38px;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 500;
	border: 0;
	border-radius: 5px;
	background: #38a9ff;
	color: #fff;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.gp-comment-submit-btn:hover {
	opacity: 0.75;
}

.gp-comment-li {
	padding-top: 15px;
	padding-bottom: 15px;
}

.gp-comment-text {
	margin-top: 10px;
	padding-left: 5px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #888da8;
}

.gp-comment-icon {
	position: absolute;
	right: 15px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #888da8;
}

.gp-comment-count {
	float: right;
	margin-top: -1px;
	margin-left: 6px;
}
.gp-subcomment-section {
	width: calc(100% + 30px);
	margin-left: -15px;
	margin-top: 10px;
	padding-left: 30px;
	border-top: 1px solid #e6ecf5;
	border-bottom: 1px solid #e6ecf5;
}

.gp-subcomment-li  {
	padding-top: 15px;
	padding-bottom: 15px;
	border-left: 1px solid #e6ecf5;
	border-top: 1px solid #e6ecf5;
}

.gp-subcomment-text {
	padding-top: 5px;
	padding-left: 5px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #888da8;
}

.gp-sub-comment {
	display: none;
}

.gp-comment-reply {
	padding-left: 5px;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 600;
	color: #38a9ff;
	cursor: pointer;
}

.post-reply-btn {
	width: 150px;
	height: 40px;
	margin-top: 10px;
	margin-bottom: 15px;
	line-height: 40px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	text-align: center;
	border: 0;
	border-radius: 5px;
	background: #38a9ff;
	color: #fff;
}

.global-post-likes {
	position: fixed;
	left: 0;
	top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    z-index: 99999;
}

.global-post-likes-section {
	margin-top: 150px;
	padding: 20px;
	background: #fff;
	border-radius: 15px;
}

.global-post-likes-li {
	margin-top: 5px;
	margin-bottom: 5px;
}

.global-post-likes-close-btn {
	position: fixed;
	right: 25px;
	top: 15px;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
}

#comment-section {
	display: none;
}
.quote-imgs-thumbs {
	background: #eee;
	border: 1px solid #ccc;
	border-radius: 0.25rem;
	margin: 1.5rem 0;
	padding: 0.75rem;
}
.quote-imgs-thumbs--hidden {
	display: none;
}
.img-preview-thumb {
	background: #fff;
	border: 1px solid #777;
	border-radius: 0.25rem;
	box-shadow: 0.125rem 0.125rem 0.0625rem rgba(0, 0, 0, 0.12);
	margin-right: 1rem;
	max-width: 140px;
	padding: 0.25rem;
}
.button-primary-color {
	background-color: #247ba0 !important; 
	color: white;
}
.button-primary-color:hover {
	color: white;
}