.leaflet-popup-content-wrapper {
    padding-bottom: 20px;
}

.leaflet-popup-content {
    width: 77px;
    margin: 15px 10px 5px;
    line-height: 1.4;
}

.leaflet-container a.leaflet-popup-close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px 4px 0 0;
    border: none;
    text-align: center;
    width: 16px;
    height: 12px;
    font: 12px/12px Tahoma, Verdana, sans-serif;
    text-decoration: none;
    font-weight: bold;
    background: transparent;
    color: #999;
}