.lv-main-section {
	width: calc(100% + 30px);
	margin-left: -15px;
}

.lv-left-img img {
	width: 100%;
}

.lv-left-text {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 500;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background: #38a9ff;
	color: #fff;
}

.lv-left-name {
	margin-top: 15px;
}

.lv-left-rating {
	margin-bottom: 15px;
	font-size: 16px;
}

.slick-prev:before, .slick-next:before {
	color: #38a9ff !important;
}

.slick-list {
	border-radius: 5px;
}

.lv-slick-carousel img {
	width: 260px;
	height: 175px;
	padding-left: 5px;
}

.lv-left-info-map {
	margin-top: 45px;
	padding-top: 15px;
	border: 1px solid #e6ecf5;
	border-radius: 5px;
	background: #fff;
}

.lv-left-info {
	margin-top: 15px;
	padding: 15px 15px 15px 15px;
	border: 1px solid #e6ecf5;
	border-radius: 5px;
	background: #fff;
}

.lv-left-info-title {
	margin-bottom: 3px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 500;
	color: #484848;
}

.lv-left-info-text {
	margin-top: 15px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
}

.lv-left-info-text i {
	width: 20px;
	margin-right: 5px;
	font-size: 18px;
	color: #38a9ff;
}

.lv-left-review-section {
	margin-top: 15px;
	padding: 15px 15px 15px 15px;
	border: 1px solid #e6ecf5;
	border-radius: 5px;
	background: #fff;
}

.lv-left-review-summary {
	margin-top: 15px;
}

.lv-left-review-rating {
	float: left;
	width: 25px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

.custom-lv-left-review-bar {
	float: left;
    height: 8px;
    margin-top: 0px;
    border: 0;
    border-radius: 15px;
    background: #FBBC04;
    box-shadow: none;
    line-height: 15px;
}

.lv-right-section {
	margin-top: 15px;
	padding: 15px 15px 15px 15px;
	border: 1px solid #e6ecf5;
	border-radius: 5px;
	background: #fff;
}

.lv-right-see-section {
	margin-top: 15px;
}

.lv-right-see-li {
	margin-bottom: 10px;
	cursor: pointer;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.lv-right-see-li:hover {
	opacity: 0.75;
}

.lv-right-see-img img {
	height: 70px;
}

.lv-right-see-title {
	margin-top: 5px;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	line-height: 14px;
	font-weight: 500;
	color: #38a9ff;
}

.custom-review-star {
	font-size: 20px;
	color: #c2c5d9;
	cursor: pointer;
}

.reviewColor {
	color: #FBBC04;
}

.custom-review-text {
	margin-top: 4px;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 500;
	color: #484848;
}

#customLocationMap {
	width: 100%;
	height: 400px;
}
.image-paddings {
	padding: 5px 5px;
}

.tab {
  overflow: hidden;
  border: 1px solid transparent;
  background-color: #fff;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #0080a0;
  color: white;
  border-radius: 5px;
}

.tabcontent {
  display: none;
}

.btn-edit {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 20px;
}

.success-z {
  border-color: #c3de3d;
  background-color: #c3de3d;
  color: white;
  border-radius: 3px;
  padding: 5px 15px;
  margin-top: 6px;
}

.icon-rating {
  font-size: 1.6em;
  padding: 0 5px;
}

.icon-rating:hover {
	cursor: pointer;
}
.button-primary-color {
	background-color: #247ba0 !important; 
	color: white;
}
.button-primary-color:hover {
	color: white;
}
.lv-left-review-bar {
	margin:0;
	margin-top:7px;
	border-radius: 15px;
	height: 8px; 
	background-color: #E4E5E3;"
}
