
    /* --- General style --- */

    .main-navigation-section {
        background-color: #161621;
        height: 5em;
    }

    .navbar-brand span {
        font-size: 0.7em; 
        color: yellow;
    }

    .big-screen {
        padding-top:1.2em;
    }

    .btn-to-go {
        color: white; 
        background-color:#247ba0; 
        display: inline;
    }

    .big-screen .form-horizontal .form-control {
        background-color: #606066 !important;
        border-color: transparent;
    }

    .big-screen .form-horizontal .form-control::placeholder {
        color: #161621 !important;
    }

    .form-horizontal {
        display: flex;
        align-items: center;
    }

    .form-horizontal .form-control{
        margin-right: 5px !important;
    }

    .main-text-nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .big-screen .form-horizontal .go-button {
        color: white; 
        margin-left:-1.9em; 
        font-size:0.8em;
    }

    .big-screen .form-horizontal .go-button:hover {
        cursor: pointer;
    }

    /* --- end of general style --- */


    
    /* --- Media queries --- */

    @media only screen and (max-width: 1200px) {
        .big-screen {
            display: none;
        }

       .main-navigation-section {
           height: 3em !important;
       }
    }

    @media only screen and (min-width: 1200px) {
        .small-screen {
            display: none;
        }
    }
    /* --- end of media queries --- */


