.main-navigation-section {
	position: fixed;
	width: 100%;
	height: 60px;
	top: 0;
	background: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
	z-index: 9998;
	clear: both;
}

.main-navigation-section li {
	float: right;
	margin-left: 20px;
	list-style: none;
	line-height: 62px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 500;
	color: #484848;
}

.main-navigation-section li a {
	color: #484848;
}

.logo {
	float: left;
}

.logo img {
	height: 40px;
	margin-top: 10px;
	cursor: pointer;
}

.custom-navigation-dropdown-menu {
	min-width: 120px;
	margin-top: -10px;
}

.custom-navigation-dropdown-menu li {
	float: left;
	width: calc(100% - 10px);
	margin-left: 5px;
	text-align: left;
}


/* --- Media queries --- */

    @media only screen and (max-width: 600px) {
        .main-container {
            margin-top: 30% !important;
        }

        .bottom-links {
            text-align: center;
        }

        .bottom-links a {
            padding-right: 0.4em !important;
        }

        .reg-form {
            margin-bottom: 0 !important;
            margin-left: 0 !important;
        }

        .social-input {
            width: 80% !important;
        }

        .logo-section {
            display: none !important;
        }
    }
    
    @media only screen and (max-width: 768px) {
        .bottom-links {
            text-align: center;
        }

        .social-input {
            width: 90% !important;
        }
    }

/* --- end of media queries --- */



/* --- General style --- */

    .main-container {
        padding-top:6%;
        padding-bottom:4em;
    }

    .btn-facebook {
        border-color: rgba(0,0,0,0.2);
        width: 100%; 
        font-size: 1em;
        background-color: white;
    }

    .btn-social {
        position: relative;
        text-align: left;
        text-overflow: ellipsis;
    }

    .bottom-links {
        display: flex; 
        justify-content: space-between;
    }

    .bottom-links a {
        font-size: 0.8em;
        text-decoration: none;
    }

    input::placeholder {
        color: white !important;
    }

    .reg-form {
        margin-bottom: 1em;
        margin-left: 3em;
    }

    .reg-form form {
        border-radius: 15px !important; 
        background-color: #2c2c38;
    }

    .reg-form form h4 {
        text-align:center; 
        padding: 0.5em 0; 
        margin-bottom: 0; 
        color: #01c9c9;
    }

    .reg-form form .form-group input {
        text-align:center; 
        width:65%; 
        margin: auto; 
        background-color: #606066; 
        border-color: transparent; 
        color: white;
    }
    
    .or-edit {
        text-align:center; 
        font-size:1.2em; 
        color: #01c9c9;
    }

    .social-input {
        width: 60%; 
        margin: auto;
    }

    .btn-facebook img{
        height: 20px; 
        padding-right: 0.6em;
    }

    .footer-bottom {
        background-color: #161621; 
        margin: 0; 
        max-width: none !important;
    }

    .logo-section {
        margin-top: -2em;
    }

    .logo-section h1 {
        color: #3da3eb; 
        font-size:6em;
        margin-top: -0.3em;
    }

    .button-register {
        height: 10%;
        width: 60%;
        padding: .5rem 1rem !important;
        font-size: 1.25rem !important;
        line-height: 1.5 !important;
        border-radius: .3rem !important; 
        background-color: #02bffe; 
        color: #fff;
    }
    