.no-padding {
	padding-left: 0;
	padding-right: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.main-navigation {
	height: 60px;
	line-height: 60px;
}

.disabledIcon {
    pointer-events: none;
    color: #a5a5a5;
}

.container {
	width: 1296px;
}

.site-logo img {
	margin-top: 5px;
	height: 50px;
}

.custom-map {
	height: calc(100vh - 60px);
	width: 100%;
	margin-top: 39px;
}

.left-menu-section {
	position: fixed;
	top: 60px;
	left: 0;
	width: 330px;
	height: calc(100vh - 20px);
    background: rgba(44, 44, 56, 0.9);
	z-index: 999;
}

.left-menu-closed {
	width: 50px !important;
	-webkit-transition: width 0.5s; /* Safari */
	transition: width 0.5s;
}

.left-menu-opened {
	width: 330px !important;
	-webkit-transition: width 0.5s; /* Safari */
	transition: width 0.5s;
}

.left-menu-closed-public {
	width: 50px !important;
	-webkit-transition: width 0.5s; /* Safari */
	transition: width 0.5s;
}

.left-menu-opened-public {
	width: 330px !important;
	-webkit-transition: width 0.5s; /* Safari */
	transition: width 0.5s;
}

.left-menu-li {
	width: calc(100% - 30px);
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
	padding: 7px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	text-transform: capitalize;
	background: #fff;
	color: #484848;
}

.left-menu-li-name {
	font-size: 12px;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #264653;
}

.left-menu-li-date {
	float: right;
}
.custom-right-public-section {
	position: fixed;
	top: 60px;
	right: 0;
	width: 330px;
	height: calc(100vh - 50px);
	background: rgba(255,255,255,0.4);
	z-index: 999;
}

.custom-right-public-section-close-btn {
	padding-left: 15px;
	padding-top: 10px;
	font-size: 19px;
	font-weight: 400;
	text-align: left;
	cursor: pointer;
}

.custom-right-public-section-closed {
	width: 50px;
	-webkit-transition: width 0.5s; /* Safari */
	transition: width 0.5s;
}

.custom-right-public-section-opened {
	width: 330px;
	-webkit-transition: width 0.5s; /* Safari */
	transition: width 0.5s;
}

.custom-right-public-section-closed-public {
	width: 50px !important;
	-webkit-transition: width 0.5s; /* Safari */
	transition: width 0.5s;
}

.custom-right-public-section-opened-public {
	width: 330px !important;
	-webkit-transition: width 0.5s; /* Safari */
	transition: width 0.5s;
}

.custom-pin-btn {
	margin-top: 14px;
	margin-right: 15px;
	font-size: 22px;
	cursor: pointer;
}

.pin-menu-section {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	padding-top: 120px;
	background: rgba(0,0,0,0.8);
	z-index: 9999999;
	display: none;
}

.pin-menu-section input {
	margin-top: 15px;
}

.create-pin-next-btn {
	width: 160px;
	height: 40px;
	margin-top: 15px;
	margin-left: calc(50% - 80px);
	line-height: 28px;
	text-transform: uppercase;
	border: 0;
	background: #247BA0;
}

.add-pin-btn {
	position: fixed;
	width: 200px;
	height: 40px;
	right: 60px;
	bottom: 90px;
	z-index: 99999;
	display: none;
}

.cancel-pin-btn {
	position: fixed;
	width: 200px;
	height: 40px;
	right: 60px;
	bottom: 40px;
	z-index: 99999;
	display: none;
}

.custom-pin-textarea {
	height: 80px !important;
}

.popout-messages {
	margin-bottom: 5px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	text-transform: capitalize;
	color: #484848;
}

.popout-messages {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	text-transform: capitalize;
	color: #484848;
}

.popout-img {
	float: left;
	margin-right: 5px;
	font-size: 18px;
	cursor: pointer;
}

.popout-profile-img {
	float: left;
	font-size: 20px;
	cursor: pointer;
	color: #484848;
}

.custom-friends-icon {
	margin-top: 20px;
	margin-right: 5px;
	font-size: 26px;
	color: #247ba0;
}

.custom-friends-btn {
	font-size: 22px;
	cursor: pointer;
}

.custom-friends-icon-popup {
	position: absolute;
	right: -3px;
	top: -5px;
	width: 12px;
	height: 12px;
	font-size: 9px;
	font-weight: 600;
	line-height: 12px;
	text-align: center;
	border-radius: 50%;
	background: #F25F5C;
	color: #fff;
	display: none;
}

.custom-friends-dropdown-li {
	margin-bottom: 5px;
	padding-bottom: 7px;
	border-bottom: 1px solid #eee;
}

.custom-friends-btn-dropdown {
	position: absolute;
	width: 170px;
	top: 45px;
	margin-left: -140px;
	padding: 5px 5px 5px 10px;
	font-size: 12px;
	background: rgba(255,255,255,0.95);
	border: 1px solid #eee;
	border-radius: 5px;
	display: none;
}

.custom-friends-dropdown-btns {
	padding-left: 20px;
	padding-top: 2px;
}

.custom-friends-dropdown-btn {
	float: left;
	width: 60px;
	height: 21px;
	margin-right: 5px;
	line-height: 21px;
	font-weight: 600;
	text-align: center;
	background: red;
	color: #fff;
}

.bottom-navigation {
	position: fixed;
	width: 200px;
	height: 70px;
	line-height: 70px;
	font-size: 40px;
	text-align: center;
	bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
	background: rgba(255,255,255,0.5);
	border-radius: 7px;
	z-index: 8888;
	color: #484848;
}

.success-message-radius {
	position: fixed;
	font-size: 1.5em;
	text-align: center;
	top: 10%;
    left: 50%;
    transform: translateX(-50%);
	background:#fff;
	border-radius: 7px;
	z-index: 8888;
	visibility: hidden;
}

.bottom-navigation i {
	margin-left: 15px;
	margin-right: 15px;
	cursor: pointer;
}

.bottom-pin-location-section, .bottom-pin-location-section-event {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	padding-top: 100px;
	background: #F9F9F9;
	z-index: 99999;
	display: none;
}

.bottom-pin-location-section-story {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	padding-top: 100px;
	background: #F9F9F9;
	z-index: 99999;
	display: none;
}

.create-random-pin-btn {
	width: 150px;
	margin-top: 15px;
	margin-left: calc(50% - 75px);
}

.create-random-pin-close-btn, .create-random-pin-close-btn-event {
	position: absolute;
	top: 15px;
	right: 30px;
	font-size: 26px;
	color: #000;
	cursor: pointer;
}

.create-random-pin-close-btn:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.create-random-pin-close-btn-story {
	position: absolute;
	top: 15px;
	right: 30px;
	font-size: 26px;
	color: #000;
	cursor: pointer;
}

.create-random-pin-close-btn-story:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.story-preview-btn {
	width: 150px;
	height: 40px;
	margin-left: 50%;
	margin-top: 260px;
	line-height: 40px;
	font-weight: 600;
	text-align: center;
	border-radius: 5px;
	background: #247ba0;
	color: #fff;
	cursor: pointer;
}

.message-section {
	position: fixed;
	bottom: 20px;
	width: 400px;
	height: 70px;
	left: calc(50% - 200px);
	line-height: 70px;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	background: rgba(42,157,143);
	border-radius: 8px;
	color: #fff;
	z-index: 9999999;
	display: none;
}

.navigation-section-stabilizer {
	margin-top: 90px;
}

.user-profile-container {
	width: calc(100% - 380px);
	margin-left: 380px;
}

.user-profile-nav-section {
	position: fixed;
	width: 250px;
	height: auto;
	margin-top: 5px;
	margin-left: 100px;
	font-weight: 600;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background: #fff;
	color: #484848;
}

.user-profile-nav-menu-section a {
	text-decoration: none;
	color: #484848;
}

.user-profile-nav-menu-li {
	padding: 15px;
	cursor: pointer;
}

.global-profile-header {
	width: 100%;
	height: 350px;
	margin-top: -22px;
	overflow: hidden;
}

.global-profile-header img {
	width: 100%;
	margin-top: -170px;
}

.global-profile-img {
	position: absolute;
	width: 150px;
	height: 150px;
	margin-top: -75px;
	border: 5px solid #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow: hidden;
	z-index: 999999;
}

.global-profile-img img {
	height: 100%;
	margin-left: -45px;
}

.global-bottom-section {
	margin-top: 110px;
}

.global-bottom-left-section {
	float: left;
	width: 250px;
	padding: 10px;
	background: #fff;
	font-weight: 600;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-transform: capitalize;
}

.global-bottom-right-section {
	float: left;
	width: calc(100% - 280px);
	margin-left: 30px;
	padding: 10px;
	background: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-transform: capitalize;
}

.global-bottom-right-section-message {
	padding: 15px;
	font-size: 14px;
	font-weight: 600;
}

.global-bottom-right-section-date {
	margin-top: -15px;
	padding-left: 30px;
	font-size: 12px;
	font-weight: 600;
	text-align: left;
}

.guest-view-section {
	width: 200px;
	height: 50px;
	line-height: 50px;
	margin-left: calc(50% - 60px);
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	background-image: linear-gradient(to right, #47c1c0, #1f5fac);
	border-radius: 5px;
	color: #fff;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.guest-view-section a {
	color: #fff;
	text-decoration: none;
}

.guest-view-section:hover {
	opacity: 0.75;
}


.right-menu-section {
	position: fixed;
	top: 60px;
	right: 0;
	width: 330px;
	height: calc(100vh - 60px);
	background: rgba(255,255,255,1);
	z-index: 999;
	display: none;
}
.right-menu-close-btn {
	position: absolute;
	width: 100%;
	padding-left: 15px;
	padding-top: 10px;
	font-size: 19px;
	font-weight: 400;
	text-align: left;
	cursor: pointer;
	z-index: 9999999;
}
.right-menu-closed {
	width: 0;
	background-color: transparent;
	-webkit-transition: width 0.5s; /* Safari */
	transition: width 0.5s;
}

.right-menu-opened {
	width: 330px;
	-webkit-transition: width 0.5s; /* Safari */
	transition: width 0.5s;
}

.right-menu-li {
	width: calc(100% - 30px);
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
	padding: 7px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	text-transform: capitalize;
	background: #fff;
	color: #484848;
}

.right-menu-li-name {
	font-size: 12px;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #264653;
}

.right-menu-li-date {
	float: right;
}

.right-menu-ul-main-img {
	width: 100%;
}

.right-menu-ul-main-img img {
	width: 100%;
}

.right-menu-section-btn {
	color: #fff;
}

.right-menu-ul-img-layout {
	position: relative;
	margin-top: -40px;
	height: 95px;
	background-color: #4285F4;
	z-index: 99999;
}

.right-menu-ul-layout-title {
	margin-top: 10px;
	font-size: 18px;
	font-weight: 600;
	text-transform: capitalize;
	color: #fff;
}

.right-menu-ul-layout-rating {
	font-size: 14px;
	color: #fff;
}

.right-menu-ul-star {
	margin-left: 1px;
	margin-right: 1px;
	font-size: 12px;
}

.right-menu-ul-subtext {
	margin-top: 5px;
	font-size: 10px;
	text-transform: capitalize;
	color: #fff;
}

.right-menu-ul-info-section {
	margin-top: 15px;
}

.right-menu-ul-info-li {
	margin-bottom: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 700;
	text-transform: capitalize;
	color: #484848;
}

.right-menu-ul-info-li i {
	width: 30px;
	margin-right: 3px;
	font-size: 15px;
	color: #4285F4;
}

.right-menu-ul-info-title {
	margin-bottom: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 600;
	color: #484848;
}

.right-menu-ul-photos-title {
	margin-top: 15px;
	margin-bottom: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 600;
	color: #484848;
}

.right-menu-ul-photos-ul {
	padding-right: 15px;
}

.right-menu-ul-photos-li {
	margin-bottom: 15px;
	padding-right: 0;
	cursor: pointer;
}

.right-menu-ul-photos-li img {
	width: 100%;
	border-radius: 5px;
}

.right-menu-ul .userImage {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

#custom-location-link {
	cursor: pointer;
}

.right-menu-section-close-modal-btn {
	position: absolute;
    width: 50%;
    top: 11px;
    right: 15px;
    font-size: 20px;
    font-weight: 600;
    text-align: right;
    color: #fff;
    cursor: pointer;
    z-index: 9999999;
}

.category-icons {
	float: left;
	margin-top: 0;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	border: 1px solid #eee;
}

.category-icon {
	float: left;
	margin-bottom: 5px;
	margin-left: 3px;
	margin-right: 3px;
	width: 64px;
	height: 50px;
	font-size: 32px;
	text-align: center;
	border: 1px solid #eee;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.category-icon:hover {
	opacity: 0.75;
}

.add-location-section {
	padding-top: 100px;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background: #F9F9F9;
	z-index: 9999999;
	display: none;
}

.add-location-close-btn {
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 20px;
	font-weight: 600;
	color: #000;
	cursor: pointer;
}

.add-location-left-section {
	text-align: center;
	box-shadow: 0 0 10px #cccccc;
	background: #fff;
}

.add-location-left-section i {
	margin-top: 15px;
	font-size: 30px;
	color: #247BA0;
}

.add-location-right-section {
	margin-left: 15px;
	text-align: center;
	box-shadow: 0 0 10px #cccccc;
	background: #fff;
}

.add-location-right-section i {
	margin-top: 15px;
	font-size: 30px;
	color: #247BA0;
}

.add-locatin-title {
	margin-top: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 500;
	border-bottom: 1px solid #eee;
}

.add-locatin-text {
	margin-top: 15px;
	margin-bottom: 15px;
}

.add-location-btn {
	width: 150px;
	height: 40px;
	line-height: 38px;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 500;
	border-radius: 5px;
	background: #247BA0;
	color: #fff;
	cursor: pointer;
	transition: all 0.5s;
}

.add-location-btn:hover {
	opacity: 0.75;
}

.custom-add-location-title {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 500;
	text-transform: capitalize;
	color: #484848;
}

.custom-form-input-title {
	margin-top: 15px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #484848
}

.custom-form-input-title span {
	color: #ff5a6e;
}

.custom-add-location-section {
	padding-top: 15px;
	padding-bottom: 30px;
	border-radius: 5px;
	box-shadow: 0 0 10px #cccccc;
	background: #fff;
}

.select2-selection--single {
	height: 35px !important;
	border: 1px solid #ccd0d2 !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.select2-selection__rendered {
	line-height: 35px !important;
}

.custom-form-title {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #484848;
	text-align: center;
}

.custom-login-label {
	margin-bottom: 3px !important;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #484848;
	text-align: left !important;
}

.custom-world-link {
	margin-top: 5px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	font-weight: 500;
	text-decoration: underline;
	text-align: center;
	color: #247BA0;
	cursor: pointer;
}

.custom-add-status-title {
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	color: #484848;
}

.custom-add-status-section {
	height: 200px;
	border-radius: 8px;
	background: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.custom-add-status-img {
	float: left;
	width: 300px;
	height: 200px;
}

.custom-add-status img {
	width: 100%;
}

.custom-add-status-text {
	float: left;
	width: calc(100% - 300px);
	padding-right: 15px;
}

.custom-add-status-info {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 5px;
	margin-left: 9%;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	text-align: center;
	color: #848484;;
}

.custom-user-profile-location-list-titles {
	margin-bottom: 30px;
	padding-bottom: 5px;
	border-bottom: 1px solid #eee;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	font-weight: 500;
}

.custom-user-profile-location-list-section {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 15px;
	font-weight: 500;
}

.master_message {
	position: fixed;
	display: flex;
    justify-content: center;
    align-items: center;
	bottom: 0px;
	left: 0;
	width: 100%;
	height: 40px;
	padding-left: 30px;
	padding-right: 30px;
	line-height: 74px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	background: #2A9D8F;
	color: #fff;
	z-index: 999999999;
}

.master_message_error {
	position: fixed;
	bottom: 0px;
	left: 0;
	width: 100%;
	height: 70px;
	padding-left: 30px;
	padding-right: 30px;
	line-height: 74px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	background: #E76F51;
	color: #fff;
	z-index: 999999999;
}

.frendly-cloud-locations-section {
	position: fixed;
	top: 70px;
	right: 0;
	width: 235px;
	z-index: 9999999999;
	display: none;
}

.frendly-cloud-img img {
	width: 100%;
}

.frendly-cloud-text {
	position: fixed;
	width: 235px;
	top: 117px;
	right: 0;
	padding-left: 25px;
	padding-right: 25px;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 500;
	text-align: center;
}

.frendly-cloud-btn {
	width: 70px;
	height: 30px;
	margin: auto;
	margin-top: 3px;
	text-align: center;
	line-height: 30px;
	border-radius: 15px;
	background: #247BA0;
	color: #fff;
	cursor: pointer;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	display: none;
}

.frendly-cloud-btn:hover {
	opacity: 0.7;
}

.admin-dropdown-icons {
	float: left;
	width: 40px;
	height: 40px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 3px;
	margin-right: 3px;
	padding: 4px;
	border: 1px solid #eee;
	border-radius: 5px;
	cursor: pointer;
}

.admin-dropdown-icons img {
	width: 100%;
}

.add-images-location {
	font-family: 'Roboto', sans-serif;
	color: #4285F4;
	text-decoration: underline;
	cursor: pointer;
	transition: all 0.5s;
}

.add-images-location:hover {
	opacity: 0.55;
}

#loginMap {
	position: absolute;
	width: 100%;
	height: 65vh;
	top: 0;
	left: 0;
}

.login-map-cover {
	position: absolute;
	width: 100%;
	height: calc(65vh - 60px);
	top: 60px;
	left: 0;
	background: rgba(0,0,0,0.3);
	z-index: 9999;
}

.logos-section {
	margin-top: 12vh;
	height: 90px;
	line-height: 90px;
	background: #FFFFFF;
	z-index: 99999;
}

.logos-section img {
	height: 29px;
	margin-left: 25px;
	margin-right: 25px;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
}

.homepage-map-section {
	padding-top: 60px;
}

.homepage-map-section-text {
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-weight: 300;
	line-height: 36px;
	color: #484848;
}

.homepage-map-section-text span {
	color: #247BA0;
}

.homepage-map-section-subtext {
	margin-top: 15px;
	font-size: 16px;
	line-height: 24px;
	color: #484848;
}

.homepage-plans {
	padding-top: 60px;
	background: #fff;
}

.homepage-plans-title {
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	text-align: center;
}

.homepage-plans-subtitle {
	margin-top: 10px;
	margin-bottom: 75px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
	text-align: center;
}

.homepage-plan-title {
	padding-top: 30px;
	padding-bottom: 5px;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 300;
	text-align: center;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	color: #fff;
	background: #247BA0;
}

.homepage-plan-price {
	padding-bottom: 15px;
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
	text-align: center;
	color: #fff;
	background: #247BA0;
}

.homepage-plan-price span {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
}

.homepage-plan-info {
	padding-top: 30px;
	padding-bottom: 15px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 32px;
	font-weight: 400;
	text-align: center;
	text-transform: capitalize;
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
	background: #F5F8FA;
	color: #848484;
}

.homepage-plan-btn {
	height: 50px;
	margin-top: 30px;
	margin-bottom: 15px;
	line-height: 48px;
	border: 2px solid #247BA0;
	background: #247BA0;
	color: #fff;
	cursor: pointer;
	transition: all 0.5s;
}

.homepage-plan-btn:hover {
	opacity: 0.7;
}

.homepage-footer {
	margin-top: 90px;
	padding-top: 20px;
	height: 100px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 32px;
	text-align: center;
	background: #393F43;
	color: #fff;
}

.custom-added-category {
	margin-top: 15px;
	clear: both;
}

.custom-location-fields {
	margin-bottom: 15px;
}

.custom-story-option {
	height: 45px;
	line-height: 45px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 500;
	text-transform: capitalize;
	text-align: center;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	transition: all 0.5s;
}

.custom-story-option:hover {
	opacity: 0.7;
}

.story-text-1, .story-text-2, .story-text-3 {
	display: none;
}

.story-text-3 {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.75);
}

#story-img-preview {
	margin-left: calc(50% - 75px);
	margin-top: 20vh;
}

#story-text-preview {
	width: 300px;
    margin-left: calc(50% - 75px);
    margin-top: -250px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #fff;
}

.story-text-bg-section {
	float: left;
}

.story-text-bg-section img {
	height: 120px;
	margin-left: 12px;
	margin-right: 12px;
	border-radius: 14px;
	cursor: pointer;
	transition: all 0.5s;
}

.story-text-bg-section img:hover {
	opacity: 0.7;
}

#input-close-button {
    visibility: hidden;
}
#input-close-button:hover {
    cursor: pointer;
}

.custom-menu {
    z-index:9999;
    position: absolute;
    background-color:#fff;
    box-shadow: 1px 1px 10px #525050, -1px -1px 10px #525050;
    border-radius: 5px;
}
.custom-menu ul {
    padding: 0;
}

.custom-menu ul li:hover {
    cursor: pointer;
    background-color: #F0EEEE;
}
.custom-menu ul li a {
    text-decoration: none;
    color: inherit;
}

.add-hover-cursor {
    cursor: pointer;
}

.addLocationClose {
    position: absolute;
    top: 0;
    right: 0;
}

.addLocationClose h1 {
    margin: 0;
    padding: 10px;
}

.custom-pin-list-section-locations {
	position: absolute;
	margin-left: -135px;
	bottom: 50px;
	width: 280px;
	border-radius: 8px;
	background: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	z-index: 99999;
	display: none;
}

.scrollbar-overflow-sidebar-to-left {
	direction: rtl;
}

.scrollbar_overflow::-webkit-scrollbar {
	width: 5px;
	height: 3px;
}

/* Track */
.scrollbar_overflow::-webkit-scrollbar-track {
	background: transparent; 
}

/* Handle */
.scrollbar_overflow::-webkit-scrollbar-thumb {
	background: #237aa0; 
}

/* Handle on hover */
.scrollbar_overflow::-webkit-scrollbar-thumb:hover {
	background: #216685; 
}

.scrollbar_overflow-2::-webkit-scrollbar {
	width: 5px;
	height: 3px;
}

/* Track */
.scrollbar_overflow-2::-webkit-scrollbar-track {
	background:#216685;
}

/* Handle */
.scrollbar_overflow-2::-webkit-scrollbar-thumb {
	background: #237aa0; 
}

/* Handle on hover */
.scrollbar_overflow-2::-webkit-scrollbar-thumb:hover {
	background: #216685; 
}

.custom-right-public-section .left-menu-ul-public .main-page-followers .main-page-followers-img {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
}
.custom-right-public-section .left-menu-ul-public .main-page-followers .main-page-followers-img .followers-images {
	flex: 0 0 auto;
}

#mapLayersContainer {
	font-size: 14px;
    position: absolute;
    bottom: 48px;
    margin-left: -47px;
    text-align: left;
	background: #fff;
	width: 150px;
}

#mapLayersContainer > div {
	font-weight: 500;
	display: flex;
	flex-direction: column;
}

.alert-li-section {
	margin-bottom: 10px;
	padding: 15px;
	padding-bottom: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.5s;
}

.alert-li-section:hover {
	opacity: 0.75;
	background: #fff5f5;
}

.alert-icon {
	font-size: 20px;
	text-align: center;
	color: #F25F5C;
}

.alert-text {
	margin-top: 5px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
}

.custom-pin-li {
	height: 55px;
	border-bottom: 1px solid #eee;
	cursor: pointer;
	transition: all 0.5s;
}

.dropdown-padding-margin {
	padding: 3px 20px;
}

.dropdown-padding-margin2 {
	padding: 3px 30px;
	margin-left: -6px;
}

.dropdown-padding-margin3 {
	padding: 3px 26px;
	margin-left: -4px;
}

.custom-pin-location-li-e {
	height: 55px;
	border-bottom: 1px solid #eee;
	cursor: pointer;
	transition: all 0.5s;
}

.custom-pin-location-li-e:hover {
	opacity: 0.75;
	background: #f5f5f5;
}

.custom-pin-li-icon {
	float: left;
	width: 50px;
}

.custom-pin-li-location-icon {
	float: left;
	width: 40px;
}

#map-settings-menu {
	width: 170px;
}

.custom-menu-settings-li {
	height: 60px;
 	line-height: 35px;
 	font-family: 'Roboto', sans-serif;
 	font-size: 14px;
 	color: #868686;
}

#radiusDropdown {
    padding: 0 10px;
}

#userSettingsDropdown {
    width: 250px;
    left: 100%;
    top: -58px;
}

#userSettingsDropdown li {
    display: flex;
	justify-content: flex-start;
	height: 3em;
}

#userSettingsDropdown li a {
    text-align: left;
    align-items: center;
    width: 100%;
    padding: 5px 0;
    color: #868686;
}

#user-radius-settings {
	border: none;
	background: none;
	padding: 4px 0 !important;
}

#user-radius-settings button {
	width: 158px;
	height: 40px;
	border: 0;
	color: #fff;
	border:none;
}

#user-radius-settings button:hover {
	text-decoration: none;
}

.custom-pin-li-location-text {
	float: left;
	width: calc(100% - 50px);
	margin: 0;
	padding-left: 5px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 60px;
	text-align: left;
	color: #868686;
}

.custom-pin-li-location-icon i {
	margin-top: 18px;
	margin-left: 10px;
	font-size: 20px;
	color: #868686;
}


#update-location {
	height: 30px;
	text-align: center;
	color: #7C5AC2; 
	text-decoration: none;
	border: none;
}

#update-location:hover {
	text-decoration: none;
	border: none;
}


.custom-story-preview-section {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.85);
	display: none;
}

#story-img-preview-img {
	width: 400px;
	margin-top: 150px;
	margin-left: calc(50% - 200px);
}

.custom-story-preview-btn {
	width: 200px;
	height: 45px;
	margin-top: 20px;
	margin-left: calc(50% - 100px);
    line-height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    border: 0;
    border-radius: 5px;
    background: #247ba0;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s;
}

.custom-story-preview-btn:hover {
	opacity: 0.75;
}

.custom-story-label {
	width: 66.5%;
	height: 45px;
	margin-top: 20px;
	margin-left: 16.5%;
    line-height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    border: 0;
    border-radius: 5px;
    background: #247ba0;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s;
}

.notification-section-top-left-text {
	float: left;
	padding-left: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 33px;
}

.notification-section-top-img {
	float: left;
	height: 30px;
	border-radius: 50%;
}

.notification-section-top-right {
	text-align: right;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 33px;
}

.notification-section-bottom {
	margin-top: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
}

.top-nav-search {
	float: left;
	margin-top: 0.7em;
	margin-left: 1em;
	border: 1px solid #f4f0ee;
}

.top-nav-search input {
	float: left;
	width: 350px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	border: 0;
	border-bottom: 1px solid #eee;
}

.nav-filters {
	float: left;
	margin-left: 45px;
}

.filter-li {
	float: left;
	width: 35px;
	height: 35px;
	margin-top: 15px;
	margin-right: 10px;
	line-height: 30px;
	text-align: center;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.5s;
}

.filter-li:hover {
	opacity: 0.75;
}

.custom-contact-shadow {
	width: calc(100% - 30px);
	margin-left: 15px;
	margin-bottom: 60px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.custom-contact-img {
	padding-right: 0;
	padding-left: 0;
}

.custom-contact-form {
	padding-top: 60px;
	padding-left: 30px;
	background: #fff;
}

.custom-contact-form input {
	height: 50px;
	line-height: 50px;
	border: 0;
	border: 1px solid #eee;
}

.custom-contact-form textarea {
	min-height: 180px;
	border: 0;
	border: 1px solid #eee;
}

.custom-contact-text {
	position: absolute;
    top: 60px;
    left: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    line-height: 45px;
    z-index: 999;
}

.dropRightChevron {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    margin: 0 10px;
    color: #969595;
    pointer-events: none;
}
.dropRightChevronLayers {
	position: absolute;
    right: 0;
    top: 63%;
    transform: translateY(-50%);
    font-size: 16px;
    margin: 0 10px;
    color: #969595;
    pointer-events: none;
}
.layersActiveIndicators {
    border: none;
    background: none;
	float: right;
	margin-bottom: -1em;
}

.layersActiveIndicators i {
    font-size: 22px;
    font-family: 'FontAwesome';
}

.userSettingsIndicators {
    border: none;
    background: none;
    float: right;
    margin-top: -42px;
    margin-right: -10px;
}

.userSettingsIndicators i {
    font-size: 22px;
}

.custom-contact-text span {
	font-size: 38px;
	font-weight: 500;
}

.custom-contact-btn {
	width: 400px;
	height: 50px;
	margin-top: 45px;
	margin-bottom: 40px;
	margin-left: calc(50% - 200px);
	line-height: 50px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	border-radius: 8px;
	background: #7c5ac2;
	color: #fff;
    cursor: pointer;
}

#custom-login-form {
	position: absolute;
	right: 0;
	width: 400px;
	padding: 0;
	z-index: 99999;
	margin-top: 3%;
}

.custom-login-link {
	cursor: pointer;
}

.custom-comming-soon {
	width: 1300px;
	margin: auto;
}

/* .custom-comming-soon img {
	position: absolute;
	width: 1300px;
	margin: auto;
	margin-top: -60px;
	height: 506px;
	object-fit: cover;
} */

.custom-comming-soon div {
	position: absolute;
    width: 1300px;
    margin: auto;
    margin-top: -60px;
    height: 400px;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.main-page-followers {
	border-radius: 5px;
	background: #fff;
}

.main-page-followers-title {
	margin-top: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 500;
}

.main-page-followers-img {
	margin-top: 10px;
}

.followers-images {
	float: left;
	width: 40px;
	height: 40px;
	margin-right: 5px;
	border-radius: 50%;
	transition: all 0.5s;
}

.followers-images:hover {
	opacity: 0.75;
}

.followers-images img {
	width: 100%;
	border-radius: 50%;
	border: 3px solid #d6e1e4;
	cursor: pointer;
}
.left-menu-ul-public .col-xs-12 .main-page-followers .main-page-followers-img .followers-images:hover {
    transform: scale(1.2); 
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* The actual popup */
.popup .popuptext {
  display: none;
  width: 300px;
  height: 150px;
  background-color: #fff;
  color: #555;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 200%;
  left: 0;
  box-shadow: 1px 1px 10px #ccc;
  margin-bottom: 10px;
}
/* Toggle this class - hide and show the popup */
.popup .show {
  display: block;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
.popup .hide {
  display: none;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
 .close-x {
   position: absolute;
   top: 0;
   right:0;
   color: grey;
   font-size: 28px;
   padding-right:10px;
}
.close-x:hover,
.close-x:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#update-location:hover{
  text-decoration: none;
  color: grey;
  background-color: white;
  border: 0px solid transparent;
}
#update-location:active{
  text-decoration: none;
  color: grey;
  background-color: white;
  border: 0px solid transparent;
}
#update-location:focus{
  text-decoration: none;
  color: grey;
  background-color: white;
  border: 0px solid transparent;
}
.dropdown-menu .dropdown-menu-right li a {
  color: grey;
}
.dropdown-menu .dropdown-menu-right li:hover {
  text-decoration: none;
  border: 0px solid transparent;
  background-color: white;
}
.dropdown-menu .dropdown-menu-right li a:hover {
  text-decoration: none;
  border: 0px solid transparent;
  background-color: white;
}
.custom-menu .list-group .homepage-main-list {
	background-color: #161621;
	color: #fff;
	border-bottom: 1px solid #606066;
}
.custom-menu .list-group .homepage-main-list:hover {
	background-color: #606066;
}