<template>
    <div class="row">
        <div class="col-8 row">
            <div class="ml-4 pl-2 col-6 d-flex">
                <div class="d-flex align-items-center ml-4 mt-2 pl-4">
                    <a href="/" class="d-flex">
                        <div class="logo">
                            <img class="mt-0" src="/img/PynnitGreenSquare.png">
                        </div>
                        <span class="text-navigation-primary h3 mb-0 font-weight-bold">
                            pynn.it
                        </span>
                    </a>
                </div>
                <div v-if="mapLayers" class="ml-4 mt-2">
                    <map-control :map-layers="mapLayers" :user="user" />
                </div>
            </div>
        </div>
        <div class="col-4 d-flex justify-content-end">
            <div class="d-flex align-items-center">
                <i class="far fa-bell mx-2 my-0 h4 text-navigation-primary"></i>
                <i class="far fa-envelope mx-2 my-0 h4 text-navigation-primary"></i>
            </div>
            <ul class="navbar-nav mr-4 pr-4">
                <li class="nav-item dropdown">
                    <a @click="showDropdown = !showDropdown" class="nav-link dropdown-toggle">
                        <img :src="'/uploads/' + user.profile_img" width="40" height="40" class="rounded-circle">
                    </a>
                    <div v-if="showDropdown" class="collapsing-menu rounded shadow main-navigation-menu">
                        <a v-if="user.admin" class="dropdown-item h-6" href="/admin"><i class="fas fa-columns first-nav-icon"></i>Dashboard</a>
                        <a class="dropdown-item" :href="'/p/' + user.id"><i class="fas fa-user-edit second-nav-icon"></i>Edit Profile</a>
                        <a @click="logout" class="dropdown-item h-6" href="#"><i class="fas fa-sign-out-alt third-nav-icon"></i>Log Out</a>
                    </div>
                </li>   
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        user: {
            required: true,
            type: [Object, Array]
        },
        mapLayers : {
			type: [Array, Object],
			default: null
		}
    },

    data() {
        return {
            showDropdown: false,
            keyword: ''
        }
    },

    mounted() {
        document.addEventListener('click', this.close)
    },

    methods: {
        logout() {
            document.getElementById('logout-form').submit();
        },

        close (e) {
            if (!this.$el.contains(e.target)) {
                this.showDropdown = false;
            }
        },
    }
}
</script>

<style scoped lang='scss'>
    .collapsing-menu {
        position: absolute;
        margin-left: -50px;
        width: 132px;
        z-index: 1000;
    }
    .logo {
        img {
            height: 35px;
        }
    }
    a, span {
        text-decoration: none;
    }
    .location-map-search {
        width: 250px;
        height: 35px;
    }
    .fa-search {
        right:0;
        top: 0;
    }

    .main-navigation-menu {
        background: #161621;
        box-shadow: 0 0 2px 0 #E0E0E0, 0 0 4px 0#E0E0E0 !important;
    }

    .main-navigation-menu a {
        color: #fff;
    }

    .main-navigation-menu a:hover {
        background-color: #606066;
    }
    .dropdown-item {
        padding: 0.25rem 0.6rem;
    }
    .first-nav-icon {
        padding-right:7px;
    }
    .second-nav-icon {
        padding-right:4px;
    }
    .third-nav-icon {
        padding-right:9px;
    }
</style>

<style lang="scss">
.main-navigation-section-logged-in {
    background: #161621;
}   
.text-navigation-primary {
    color: #3bcbc0;
}
</style>