.btn-rounded {
    border-radius: 5px !important;
}

// admin dashboard button 
.btn-admin {
    background: #3fb9a0;
    border-radius: 5px;
    color: #fff;

    &:hover {
        background: #2a927d !important;
        color: #fff !important;
    }
}

.bg-admin {
    background: #3fb9a0 !important;
}