   .scrollBar::-webkit-scrollbar {
       width: 9px;
       height: 7px;
   }

   .scrollBar {
       scrollbar-width: thin;
       scrollbar-color: #3fb9a0;
   }

   .scrollBar::-webkit-scrollbar-track {
       background: #dbd4d4;
   }

   .scrollBar::-webkit-scrollbar-thumb {
       background-color: #3fb9a0;
       border-radius: 6px;
       border: #3fb9a0;
   }