.disabled {
    background: #e0dfdf;
    cursor: not-allowed;
}

.button-primary-color {
    background-color: #247ba0 !important;
}

.btn-danger {
    background-color: #d9534f;
    color: #fff !important;
    &:hover {
        background-color: #e03f3a !important;
    }
}