#map_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    z-index: 9;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    span.btn {
        margin: 0 5px; 
        border-radius: 5px;
        width: 100px;
    }
    .btn-submit {
        background: #3388ff;
        color: #fff;
    }
    > div {
        position: relative;
        width: 800px;
        height: 400px;
    }
    #closeMap {
        // position: absolute;
        // right: 2vw;
        // top: 10vh;
        // font-size: 2.8rem;
        // font-weight: bold;
        // color: #fff;
        // cursor: pointer;
        // border-radius: 50%;
        // background: #d9534f;
        // padding: 5px 15px;
    }
}

#mapid {
    box-shadow: 2px 2px 14px #585353;
    width: 100%;
    height: 100%;
}

#coordinates {
    position: absolute;
    top: 0;
    z-index: 99999;
    width: 150px;
    height: 27px;
    right: 0;
    border-top-right-radius: 3px;
    color: #000;
    background: #fff;
    span {
        font-weight: bold;
    }
}

.animatedBeacon {
    transition: all 1s 
}