.avatar-map-image {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    box-shadow: 1px 1px 10px #ccc;
}

.customAvatar {
    margin-top: -41px !important;
    margin-left: -27px !important;
}