   #admin-v2-pages {
       .ui-slider-range {
           background: #fff !important;
       }

       .ui-slider-handle {
           height: 1.6em !important;
           width: 3em !important;
           display: flex;
           top: -0.5em !important;
           justify-content: center;
           align-items: center;
           font-weight: normal !important;
       }
   }