$base : 4px;

// margins
.m-auto {
    margin: auto !important;
}

.m-0 {
    margin: 0 !important;
}

.m-1 {
    margin: $base * 1 !important;
}

.m-2 {
    margin: $base * 2 !important;
}

.m-3 {
    margin: $base * 3 !important;
}

.m-4 {
    margin: $base * 4 !important;
}

// margins top
.mt-0 {
    margin-top: 0 !important;
}

.mt-1 {
    margin-top: $base * 1 !important;
}

.mt-2 {
    margin-top: $base * 2 !important;
}

.mt-3 {
    margin-top: $base * 3 !important;
}

.mt-4 {
    margin-top: $base * 4 !important;
}

// margin right
.mr-0 {
    margin-right: 0 !important;
}

.mr-1 {
    margin-right: $base * 1 !important;
}

.mr-2 {
    margin-right: $base * 2 !important;
}

.mr-3 {
    margin-right: $base * 3 !important;
}

.mr-4 {
    margin-right: $base * 4 !important;
}

// margins bottom
.mb-0 {
    margin-bottom: 0 !important;
}

.mb-1 {
    margin-bottom: $base * 1 !important;
}

.mb-2 {
    margin-bottom: $base * 2 !important;
}

.mb-3 {
    margin-bottom: $base * 3 !important;
}

.mb-4 {
    margin-bottom: $base * 4 !important;
}

// margin left
.ml-0 {
    margin-left: 0 !important;
}

.ml-1 {
    margin-left: $base * 1 !important;
}

.ml-2 {
    margin-left: $base * 2 !important;
}

.ml-3 {
    margin-left: $base * 3 !important;
}

.ml-4 {
    margin-left: $base * 4 !important;
}

// x axis
.mx-1 {
    margin-left: $base * 1 !important;
    margin-right: $base * 1 !important;
}

.mx-2 {
    margin-left: $base * 2 !important;
    margin-right: $base * 2 !important;
}

.mx-3 {
    margin-left: $base * 3 !important;
    margin-right: $base * 3 !important;
}

.mx-4 {
    margin-left: $base * 4 !important;
    margin-right: $base * 4 !important;
}

// y axis
.my-1 {
    margin-top: $base * 1 !important;
    margin-bottom: $base * 1 !important;
}

.my-2 {
    margin-top: $base * 2 !important;
    margin-bottom: $base * 2 !important;
}

.my-3 {
    margin-top: $base * 3 !important;
    margin-bottom: $base * 3 !important;
}

.my-4 {
    margin-top: $base * 4 !important;
    margin-bottom: $base * 4 !important;
}