$base : 4px;

// paddings
.p-1 {
    padding: $base * 1 !important;
}

.p-2 {
    padding: $base * 2 !important;
}

.p-3 {
    padding: $base * 3 !important;
}

.p-4 {
    padding: $base * 4 !important;
}

// paddings top
.pt-1 {
    padding-top: $base * 1 !important;
}

.pt-2 {
    padding-top: $base * 2 !important;
}

.pt-3 {
    padding-top: $base * 3 !important;
}

.pt-4 {
    padding-top: $base * 4 !important;
}

// margin right
.pr-1 {
    padding-right: $base * 1 !important;
}

.pr-2 {
    padding-right: $base * 2 !important;
}

.pr-3 {
    padding-right: $base * 3 !important;
}

.pr-4 {
    padding-right: $base * 4 !important;
}

// paddings bottom
.pb-1 {
    padding-bottom: $base * 1 !important;
}

.pb-2 {
    padding-bottom: $base * 2 !important;
}

.pb-3 {
    padding-bottom: $base * 3 !important;
}

.pb-4 {
    padding-bottom: $base * 4 !important;
}

// margin left
.pl-1 {
    padding-left: $base * 1 !important;
}

.pl-2 {
    padding-left: $base * 2 !important;
}

.pl-3 {
    padding-left: $base * 3 !important;
}

.pl-4 {
    padding-left: $base * 4 !important;
}

// x - y axis paddings
.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.px-1 {
    padding-left: $base * 1 !important;
    padding-right: $base * 1 !important;
}

.px-2 {
    padding-left: $base * 2 !important;
    padding-right: $base * 2 !important;
}

.px-3 {
    padding-left: $base * 3 !important;
    padding-right: $base * 3 !important;
}
.px-4 {
    padding-left: $base * 4 !important;
    padding-right: $base * 4 !important;
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.py-1 {
    padding-top: $base * 1 !important;
    padding-bottom: $base * 1 !important;
}

.py-2 {
    padding-top: $base * 2 !important;
    padding-bottom: $base * 2 !important;
}

.py-3 {
    padding-top: $base * 3 !important;
    padding-bottom: $base * 3 !important;
}

.py-4 {
    padding-top: $base * 4 !important;
    padding-bottom: $base * 4 !important;
}