// global container fix
@media(min-width: 1025px) and (max-width: 1310px) {
    .container { width: 100% !important }
}


// 1310px
@media(max-width: 1310px) {

    .logos-section .container div { white-space: nowrap; }

    .homepage-map-section .container {
        display: flex;
        justify-content: center;
    }
}

// 1200px
@media(max-width: 1310px) {

    .logos-section .container div { width: 100%; text-align: center; }
}

// 1065px
@media(max-width: 1065px) {
    
}