@media(max-width: 769px) {
    .custom-comming-soon {
        height: 100vh ;
        div {
            height: 100vh !important;
        }
    }
    .form-hidden-mobile {
        display: none;
    }
    .logos-section {
        margin-top: 2vh ;
        text-align: center;
        img { 
            height: 40px ;
        }     
        div { background: #fff}  
    }
    .homepage-map-section {
        .container {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            .homepage-map-section-img {
                margin: 0;
                width: 100%;
                display: flex;
                justify-content: center;
                padding-top: 25px;
                img {
                    width: 90% !important ;
                }
            }
            .homepage-map-section-text {
                width: 90%;
                font-size: 40px;
                text-align: center;
                margin: 0;
                margin-top: 50px !important;
                div {
                    font-size: 30px;
                    padding: 15px;
                    line-height: normal;
                }
            }
        }
    }
    .homepage-map-section-even {
        .container {
            flex-direction: column;
        }
    }
    .homepage-plans-title { font-size: 50px; }

    .custom-contact-shadow {
        display: flex;
        flex-direction: column;
    }
    .custom-contact-img {
        width: 100%;
        height: 440px;
        overflow: hidden;
    }
    .custom-contact-form {
        width: 100%;
    }

    .homepage-footer {
        display: none;
    }

    .mobile-footer {
        display: block !important;
        background: #393f43;
        color: #fff;
        text-align: center;
        padding: 10px;
        font-weight: bold;
    }
}