<template>
    <div>
        <button v-if="isDanger" class="btn btn-danger px-4 py-1">
            <slot></slot>
        </button>
        <button v-else class="btn btn-primary px-4 py-1">
            <slot></slot>
        </button>
    </div>
</template>
 
<script>
export default {
    props: {
        isDanger: {
            required: false,
            default: false
        }
    }
}
</script>

<style>

</style>