<template>
    <div v-if="isOpen" class="modal-wrapper main-section-modal" @click="closeModalWhenOverlay">
        <div class="modal-content col-xs-12 col-md-6">
            <div class="modal-header d-flex align-items-center">
                <h5 class="modal-title">
                     <i v-if="icon" :class="icon" class="mr-1"></i> 
                    <slot name="title"></slot>
               </h5>
                <span @click="closeModal" class="closeModal">
                    &times;
                </span>  
            </div>
            <div class="modal-body"> 
                <slot></slot>
            </div>
            <div v-if="footer" class="modal-footer">
                <slot name="footer"></slot>
            </div>
        </div>
    </div>
</template>

<script>
import {eventBus} from '../../app'

export default {
    props: {
        open: {
            type: Boolean,
            default: false
        },
        customCloseClass: {
            type: String,
            default: null
        },
        footer: {
            type: Boolean,
            default: true
        },
        icon: {
            type: String,
            default: null
        }
    },
    data() {
        return {
            isOpen: false
        } 
    },
    mounted() {
        this.isOpen = this.open;
        eventBus.$on('close', () => {
            this.closeModal();
        })
    },
    methods: {
        closeModal() {
            if(this.customCloseClass) {
                $('.' + this.customCloseClass).addClass('d-none');
            } else {
                this.isOpen = false;
            }
            this.$emit('close');
        },
        closeModalWhenOverlay(e) {
            if (!this.$el.getElementsByTagName('div')[0].contains(e.target)) {
                this.closeModal();
                }
        }
    }
}
</script>

<style>

        .modal-wrapper {
            position: fixed;
            width: 100vw;
            height: 100vh;
            left: 0;
            z-index: 9999;
            top: 0;
            justify-content: center;
            align-items: center;
            background: rgba(0,0,0,0.7);
            display: flex;
            justify-content: center;
            align-content: center;
        }

        .modal-title {
            color: #fff;
            font-weight: 500;
        }

        .closeModal {
            position: absolute;
            top: 0;
            right: 0;
            padding: 5px 10px;
            cursor: pointer;
            color: #fff;
            font-size: 2.2em !important;
        }

        .modal-content {
            background-color:#161621;
            box-shadow: 0 0 2px 0 #E0E0E0, 0 0 4px 0#E0E0E0;
        }

        .mr-1 {
            font-size: 0.8em;
            color:#fff;
        }

</style>
