.no-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.custom-container {
    width: 1500px;
    margin: auto;
}

#slide1, #slide2, #slide3, #slide4, #slide5, #slide6, #slide7, #slide8 {
    display: none;
}

#slide2 {
    min-height: 100vh;
}

.slide-bg-img {
    width: 100%;
    height: 100vh;
}

#bg-1, #bg-2, #bg-3, #bg-4 {
    position: absolute;
}

#bg-2, #bg-3, #bg-4 {
    display: none;
}

.slide-1-title-section {
    position: absolute;
    width: 400px;
    height: 350px;
    top: 25vh;
    margin-left: calc(50% - 200px);
    border-radius: 5px;
    background: #009ddc;
    opacity: 1;
    z-index: 999999;
}

.slide-1-logo {
    margin-top: 60px;
    margin-left: calc(50% - 30px);
}

.slide-1-logo img {
    width: 60px;
}

.slide-1-logo-title {
    width: 100%;
    margin-top: 15px;
    font-family: 'Righteous', cursive;
    font-size: 50px;
    text-align: center;
    color: #fff;
}

.slide-1-logo-title-presentation {
    width: 100%;
    margin-top: -10px;
    font-family: 'Righteous', cursive;
    font-size: 20px;
    text-align: center;
    color: #fff;
}

.slide-1-nxt-btn {
    position: fixed;
    width: 250px;
    height: 50px;
    margin-left: calc(50% - 125px);
    bottom: 50px;
    line-height: 48px;
    font-family: 'Righteous', cursive;
    font-size: 20px;
    border: 2px solid #fff;
    border-radius: 30px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s;
}

.slide-1-nxt-btn:hover {
    background: #fff;
    color: #000;
}


/* SLIDE 2 */

.slide-2-top {

}

.slide-2-title {
    margin-top: 15px;
    font-family: 'Oswald', sans-serif; 
    font-size: 70px;
    font-weight: 700;
    text-align: center;
    color: #484848;
}

.slide-2-subtitle {
    margin-top: -5px;
    font-family: 'Oswald', sans-serif; 
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    color: #475369;
}

.slide-2-mid {
    margin-top: 45px;
    position: relative;
}

.slide-2-img {
    width: 100%;
}

.slide-2-mid-text {
    position: absolute;
    width: 65%;
    height: 290px;
    margin-top: 55px;
    top: 0;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 45px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    font-family: 'Roboto', sansserif; 
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    background: #1e273e;
    opacity: 0.9;
    color: #fff;
    z-index: 99999;
}

.slide-2-bottom-section {
    margin-top: 30px;
}

.slide-2-bottom-li {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Roboto', sansserif; 
    font-size: 16px;
    font-weight: 400;
}

.slide-2-next-btn {
    position: absolute;
    width: 250px;
    height: 50px;
    margin-left: calc(50% + 15px);
    bottom: 50px;
    line-height: 48px;
    font-family: 'Righteous', cursive;
    font-size: 20px;
    border: 2px solid #484848;
    border-radius: 30px;
    text-align: center;
    color: #484848;
    cursor: pointer;
    transition: all 0.5s;
}

.slide-2-next-btn:hover {
    background: #484848;
    color: #fff;
}

.slide-2-back-btn {
    position: absolute;
    width: 250px;
    height: 50px;
    margin-left: calc(50% - 265px);
    bottom: 50px;
    line-height: 48px;
    font-family: 'Righteous', cursive;
    font-size: 20px;
    border: 2px solid #484848;
    border-radius: 30px;
    text-align: center;
    color: #484848;
    cursor: pointer;
    transition: all 0.5s;
}

.slide-2-back-btn:hover {
    background: #484848;
    color: #fff;
}

/* slide 3 */

.slide-3-content {
    position: absolute;
    width: 100%;
    top: 15px;
    left: 0;
    z-index: 99999999;
}

.slide-3-title {
    width: 100%;
    font-family: 'Oswald', sans-serif; 
    font-size: 90px;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

.slide-3-subtitle {
    width: 100%;
    margin-top: -5px;
    font-family: 'Roboto', sansserif; 
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    color: #fff;
}

.slide-3-subtitle span {
    width: 100%;
    margin-top: -5px;
    font-family: 'Roboto', sansserif; 
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    color: #F4A261;
}

.slide-3-main-img {
    margin-top: 15px;
    text-align: center;
}

.slide-3-main-img img {
    width: 60px;
}

.custom-slide-3-container {
    width: 1200px;
    margin: auto;
}

.slide-3-right-section {
    float: left;
    width: 755px;
    margin-top: 30px;
    margin-left: 45px;
    padding: 20px;
    background: rgba(38,70,83,0.5);
}

.slide-3-list-section {
    float: left;
    width: 400px;
    margin-top: 30px;
    padding-top: 45px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    border-radius: 8px;
    background: rgba(38,70,83,0.5);
}

.slide-3-li {
    margin-bottom: 30px;
    cursor: pointer;
    transition: all 0.5s;
}

.slide-3-li:hover {
    opacity: 0.5;
}

.slide-3-li-img {
    float: left;
    width: 50px;
}

.slide-3-li-img img {
    width: 100%;
    margin-top: 17px;
}

.slide-3-li-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.slide-3-li-content {
    float: left;
    width: calc(100% - 100px);
    padding-top: 18px;
    padding-left: 30px;
    
    padding-bottom: 18px;
    font-family: 'Roboto', sansserif; 
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}
.elementactive{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.slide-3-li-subtext {
    font-family: 'Roboto', sansserif; 
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

#problem-text {

}

#mission-text, #vision-text {
    display: none;
}

.slide-4-next-btn {
    position: fixed;
    width: 250px;
    height: 50px;
    margin-left: calc(50% + 15px);
    bottom: 50px;
    line-height: 48px;
    font-family: 'Righteous', cursive;
    font-size: 20px;
    border: 2px solid #fff;
    border-radius: 30px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s;
}

.slide-4-next-btn:hover {
    background: #fff;
    color: #484848;
}

.slide-4-back-btn {
    position: fixed;
    width: 250px;
    height: 50px;
    margin-left: calc(50% - 265px);
    bottom: 50px;
    line-height: 48px;
    font-family: 'Righteous', cursive;
    font-size: 20px;
    border: 2px solid #fff;
    border-radius: 30px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s;
}

.slide-4-back-btn:hover {
    background: #fff;
    color: #484848;
}

/* slide 4 */

.slide4-title {
    font-family: 'Oswald', sans-serif; 
    font-size: 90px;
    font-weight: 700;
    text-align: center;
    color: #484848;
}

.slide4-subtitle {
    font-family: 'Roboto', sansserif;
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    color: #484848;
}

.slide4-subtitle span {
    font-family: 'Roboto', sansserif;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    color: #484848;
}

.slide4-img {
    float: left;
    width: 100%;
    margin-top: 60px;
    text-align: center;
}

.slide-3-next-btn {
    position: fixed;
    width: 250px;
    height: 50px;
    margin-left: calc(50% + 15px);
    bottom: 50px;
    line-height: 48px;
    font-family: 'Righteous', cursive;
    font-size: 20px;
    border: 2px solid #484848;
    border-radius: 30px;
    text-align: center;
    color: #484848;
    cursor: pointer;
    transition: all 0.5s;
}

.slide-3-next-btn:hover {
    background: #484848;
    color: #fff;
}

.slide-3-back-btn {
    position: fixed;
    width: 250px;
    height: 50px;
    margin-left: calc(50% - 265px);
    bottom: 50px;
    line-height: 48px;
    font-family: 'Righteous', cursive;
    font-size: 20px;
    border: 2px solid #484848;
    border-radius: 30px;
    text-align: center;
    color: #484848;
    cursor: pointer;
    transition: all 0.5s;
}

.slide-3-back-btn:hover {
    background: #484848;
    color: #fff;
}

.slide-4-team {
    max-width: 1080px;
    min-width: 80vw;
    margin: 50px auto 0;
    display: flex;
}

.slide-4-name {
    margin-top: 15px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #475369;
}

.slide-4-position {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #475369;
}

.slide-4-cv {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #2691e0;
    cursor: pointer;
    transition: all 0.5s;
}
.slide-4-cv2 {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #2691e0;
    cursor: pointer;
    transition: all 0.5s;
}

.slide-4-cv:hover, .slide-4-cv2:hover {
    opacity: 0.75;
}

.slide-4-about {
    margin-top: 15px;
    padding-left: 5px !important;
    padding-right: 5px!important;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    text-align: center;
}

.slide-4-line {
    float: left;
    width: 90px;
    height: 6px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: calc(50% - 45px);
    background: linear-gradient(90deg,#4ac2c1,#245cc1);
}

.slide-4-team-li {
    float: left;
    width: 250px;
    height: 250px;
    margin-left: 55px;
    margin-right: 55px;
    text-align: center;
}

.slide-4-team-li img {
    max-width: 100%;
    border-radius: 25%;
    border: 0px solid #475369;
    object-fit: contain;
}

.slide-4-cv-section, .slide-4-cv-section2, .slide-4-cv-section3{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.9);
    z-index: 999999999;
    display: none;
}


.slide-4-cv-img,.slide-4-cv-img2,.slide-4-cv-img3 {
    width: 817px;
    height: 90vh;
    margin: auto;
    margin-top: 5vh;
    padding-bottom: 15px;
    overflow: hidden;
    overflow-y: scroll;
}

.slide-4-cv-img img {
    width: 817px;
}

.slide-4-cv-close {
    position: fixed;
    width: 30px;
    height: 30px;
    top: 15px;
    right: 15px;
    z-index: 9999999999;
    cursor: pointer;
    transition: all 0.5s;
}


.slide-4-cv-close:hover {
    opacity: 0.75;
}

.slide-4-cv-close img {
    width: 100%;
}

/* slide 5 */

.slide5-title {
    font-family: 'Oswald', sans-serif; 
    font-size: 90px;
    font-weight: 700;
    text-align: center;
    color: #484848;
}

.slide5-subtitle {
    font-family: 'Roboto', sansserif;
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    color: #484848;
}

.slide5-subtitle span {
    font-family: 'Roboto', sansserif;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    color: #484848;
}

.slide5-img {
    float: left;
    max-width: 1000px;
    margin-top: 15px;
    margin-left: calc(50% - 500px);
    text-align: center;
}

.slide5-img img {
    width: 100%;
}

.slide-5-next-btn {
    position: fixed;
    width: 250px;
    height: 50px;
    margin-left: calc(50% + 15px);
    bottom: 50px;
    line-height: 48px;
    font-family: 'Righteous', cursive;
    font-size: 20px;
    border: 2px solid #484848;
    border-radius: 30px;
    text-align: center;
    color: #484848;
    cursor: pointer;
    transition: all 0.5s;
}

.slide-5-next-btn:hover {
    background: #484848;
    color: #fff;
}

.slide-5-back-btn {
    position: fixed;
    width: 250px;
    height: 50px;
    margin-left: calc(50% - 265px);
    bottom: 50px;
    line-height: 48px;
    font-family: 'Righteous', cursive;
    font-size: 20px;
    border: 2px solid #484848;
    border-radius: 30px;
    text-align: center;
    color: #484848;
    cursor: pointer;
    transition: all 0.5s;
}

.slide-5-back-btn:hover {
    background: #484848;
    color: #fff;
}


/* slide 6 */

.slide6-title {
    font-family: 'Oswald', sans-serif; 
    font-size: 90px;
    font-weight: 700;
    text-align: center;
    color: #484848;
}

.slide6-subtitle {
    font-family: 'Roboto', sansserif;
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    color: #484848;
}

.slide6-subtitle span {
    font-family: 'Roboto', sansserif;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    color: #484848;
}

.slide6-main {
    margin-top: 45px;
}

.slide6-text {
    float: left;
    max-width: 600px;
}

.slide6-info {
    margin-bottom: 30px;
}

.slide6-info-text {
    padding-top: 5px;
    padding-left: 15px;
    font-family: 'Roboto', sansserif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #484848;
}

.slide6-info-sub-text {
    padding-top: 5px;
    font-family: 'Roboto', sansserif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #484848;
}

.slide6-info-icon {
    float: left;
    width: 100px;
}

.slide6-info-icon img {
    width: 100%;
}

.slide6-info-text {
    float: left;
    width: calc(100% - 140px);
    margin-top: -5px;
}

.slide6-img {
    float: right;
    width: 900px;
    margin-top: 15px;
    text-align: center;
}

.slide6-img img {
    position: absolute;
    width: 900px;
    margin-left: -450px;
}

#slide6container {
    max-width: 1500px;
    margin: auto;
}

.slide-6-next-btn {
    position: fixed;
    width: 250px;
    height: 50px;
    margin-left: calc(50% + 15px);
    bottom: 50px;
    line-height: 48px;
    font-family: 'Righteous', cursive;
    font-size: 20px;
    border: 2px solid #484848;
    border-radius: 30px;
    text-align: center;
    color: #484848;
    cursor: pointer;
    transition: all 0.5s;
}

.slide-6-next-btn:hover {
    background: #484848;
    color: #fff;
}

.slide-6-back-btn {
    position: fixed;
    width: 250px;
    height: 50px;
    margin-left: calc(50% - 265px);
    bottom: 50px;
    line-height: 48px;
    font-family: 'Righteous', cursive;
    font-size: 20px;
    border: 2px solid #484848;
    border-radius: 30px;
    text-align: center;
    color: #484848;
    cursor: pointer;
    transition: all 0.5s;
}

.slide-6-back-btn:hover {
    background: #484848;
    color: #fff;
}

.custom-7-1-section {
    width: 1300px;
    margin: auto;
}

.custom-7-1-left {
    float: left;
    width: 650px;
    margin-top: 60px;
}

.custom-7-1-right {
    float: left;
    width: 650px;
    margin-top: 60px;
}

.custom-7-1-left-text {
    float: left;
    width: 400px;
    font-family: 'Roboto', sansserif;
    font-size: 16px;
    font-weight: 500;
}

.custom-7-2-right-text {
    float: right;
    width: 400px;
    font-family: 'Roboto', sansserif;
    font-size: 16px;
    font-weight: 500;
}

.custom-7-1-img {
    float: right;
    width: 250px;
    padding-left: 30px;
}

.custom-7-1-img img {
    width: 100%;
}

.custom-7-1-right-img {
    float: left;
    width: 250px;
    padding-right: 30px;
}

.custom-7-1-right-img img {
    width: 100%;
}

.custom-canvas-section {
    margin-top: 45px;
    float: left;
    width: 90%;
    margin-left: 5%;
}

.custom-canvas-li {
    float: left;
    width: 19%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    padding-bottom: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 3px 10px 0 rgba(0, 0, 0, 0.14);
}

.custom-canvas-text-li {
    margin-bottom: 5px;
}

.custom-canvas-part-section {
    float: left;
    margin-bottom: 30px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 3px 10px 0 rgba(0, 0, 0, 0.14);
}

.custom-canvas-title {
    margin-bottom: 15px;
    padding-top: 10px;
    padding-left: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #484848;
}

.custom-canvas-text {
    float: left;
    margin-bottom: 5px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    font-family: 'Roboto', sansserif;
    font-size: 16px;
    font-weight: 400;
}

.custom-contact-form {
    padding-top: 60px;
    padding-left: 30px;
    background: #fff;
}

.custom-contact-form input {
    height: 50px;
    line-height: 50px;
    border: 0;
    border: 1px solid #eee;
}

.custom-contact-form textarea {
    min-height: 180px;
    border: 0;
    border: 1px solid #eee;
}

.custom-contact-text {
    position: absolute;
    top: 60px;
    left: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    line-height: 45px;
    z-index: 999;
}

.custom-contact-text span {
    font-size: 38px;
    font-weight: 500;
}

.custom-contact-btn {
    width: 400px;
    height: 50px;
    margin-top: 45px;
    margin-bottom: 40px;
    margin-left: calc(50% - 200px);
    line-height: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    border-radius: 8px;
    background: #7c5ac2;
    color: #fff;
    cursor: pointer;
}

.custom-contact-us {
    width: calc(100% - 120px) !important;
    margin-left: 60px;
}

.custom-contact-shadow {
    margin-top: 60px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.15);  
}

.custom-6-1-text {
    margin-top: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
}

.custom-7-2-img {
    float: left;
    width: 1200px;
    margin-top: 45px;
    margin-left: calc(50% - 600px);
    text-align: center;
}

.custom-7-2-img img {
    width: 100%;
}

.watermark {
    position: fixed;
    right: 30px;
    bottom: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

.watermark:hover {
    opacity: 0.5;
}

.watermark img {
    height: 70px;
}

#s61, #s62, #s63, #s64 {
    display: none;
}

#s641, #s642, #s643 {
    display: none;
}

#i6, #i62, #i63, #i64, #i65, #i66 {
    display: none;
}

#s651, #s652, #s653, #s654 {
    display: none;
}

#s661, #s662, #s663 {
    display: none;
}

#s671, #s672, #s673, #s674, #s675, #s676 {
    display: none;
}

#s677, #s678, #s679, #s6710, #s6711, #s6712 {
    display: none;
}

#i71, #i72, #i73 {
    display: none;
}

#s71, #s72, #s73, #s74, #s75, #s76, #s77, #s78, #s79, #s710, #s711, #s712, #s713, #s714, #s715, #s716 {
    display: none;
}

#s717, #s718, #s719, #s720, #s721, #s722, #s723, #s724, #s725, #s726, #s727, #s728, #s729, #s730 {
    display: none;
}

#p62 {
    width: 50px;
    height: 70px;
    top: 410px;
    right: 465px;
    position: absolute;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
    z-index: 99999;
    display: none;
}

#p63 {
    width: 50px;
    height: 70px;
    top: 95px;
    margin-left: -388px;
    position: absolute;
    -webkit-animation: mover 2s infinite alternate;
    animation: mover 2s infinite alternate;
    z-index: 99999;
    display: none;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-15px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-15px); }
}


/* MEDIA QUERIES */
/* medium to large screens */
@media screen and (max-width: 1280px) {
    .slide-2-mid {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .slide-2-mid-text {
        margin-top: 0;
        top: 5px;
        max-height: 95%;
        width: 95%;
        border-radius: 60px;
    }
}

@media screen and (max-width: 1060px) {
    #slide2 {
        padding-bottom: 100px;
    }
    .slide-2-img {
       height: 50vh;
    }
    .slide-2-mid-text {
        top: 50%;
        transform: translate(0,-50%);
    }    
}



/* phones */
@media screen and (max-width: 767px) {
    /* slide 1 */
    .slide-1-title-section {
        margin: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
        width: 90%;
        height: 40%;
    }

    .slide-1-logo img { 
        width: 30px;
    }

    .slide-1-logo-title {
        font-size: 25px;
    }

    .slide-1-logo-title-presentation {
        font-size: 12px;
        margin-top: 0;
    }

    .slide-bg-img {
        object-fit: cover;
        object-position: 0 0;
    }
    /* slide 2 */
    #slide2 {
        padding-bottom: 0;
    }
    .slide-2-img {
        height: 60vh;
        object-fit: cover;
    }
    .slide-2-mid-text {
        width: 90%;
        border-radius: 20px;
        height: 90%;
        margin-top: 4%;
        overflow: auto;
        padding-bottom: 20px;
    }
    #slide-2-btn-next,
    #slide-2-btn-back {
        color: #fff;
        background: #3b758b;
        width: 150px;
        margin: 0;
    }

    #slide-2-btn-back {
        left: 10px;
    }

    #slide-2-btn-next {
        right: 10px;
    }
    #slide2watermark img {
        margin-bottom: -19px;
    }
    .slide-2-bottom-section {
        padding-bottom: 100px;
    }

}
/* /MEDIA QUERIES */
